<div class="hints-index">
<?php
echo $this->element('portal/cpaging');
echo $this->element('portal/items_list' , array('model'=>'Hint'));
?>
<br />
<br />
<?php echo $this->element('portal/cpaging'); ?>
</div>