<div class="dealer-footer">
    <div class="container">
        <div class="col-md-12"><hr /></div>
        <div class="col-md-7 col-sm-7">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <ul class="footer-links">
                        <li><a href="#"><strong>Car Sales</strong></a></li>
                        <li><a href="#">voluptatum </a></li>
                        <li><a href="#">deleniti quas</a></li>
                        <li><a href="#">atque corrupti </a></li>
                        <li><a href="#">quos dolores et </a></li>
                        <li><a href="#">molestias</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <ul class="footer-links">
                        <li><a href="#"><strong>Car Sales</strong></a></li>
                        <li><a href="#">voluptatum </a></li>
                        <li><a href="#">deleniti quas</a></li>
                        <li><a href="#">atque corrupti </a></li>
                        <li><a href="#">quos dolores et </a></li>
                        <li><a href="#">molestias</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <ul class="footer-links">
                        <li><a href="#"><strong>Car Sales</strong></a></li>
                        <li><a href="#">voluptatum </a></li>
                        <li><a href="#">deleniti quas</a></li>
                        <li><a href="#">atque corrupti </a></li>
                        <li><a href="#">quos dolores et </a></li>
                        <li><a href="#">molestias</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <ul class="footer-links">
                        <li><a href="#"><strong>Car Sales</strong></a></li>
                        <li><a href="#">voluptatum </a></li>
                        <li><a href="#">deleniti quas</a></li>
                        <li><a href="#">atque corrupti </a></li>
                        <li><a href="#">quos dolores et </a></li>
                        <li><a href="#">molestias</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <ul class="footer-thumbs">
                <li><a href="#"><img src="http://dummyimage.com/85x85/e5e9ed/e5e9ed" alt="" title=""/></a></li>
                <li><a href="#"><img src="http://dummyimage.com/85x85/e5e9ed/e5e9ed" alt="" title=""/></a></li>
                <li><a href="#"><img src="http://dummyimage.com/85x85/e5e9ed/e5e9ed" alt="" title=""/></a></li>
            </ul>
        </div>
    </div>
</div>