<li>
    <a class="profile-state" href="#"><span id="profile-state" data-dimension="70" data-text="50%"  data-width="7" data-fontsize="13" data-percent="50" data-fgcolor="#0052a3" data-bgcolor="#fff"></span> Profile Status</a>
    <div class="select-toggle">
        <a href="#" class="dropdown-toggle">Progress <i class="fa fa-angle-down pull-right"></i></a>
        <ul class="dropdown">
            <li><a href="<?php echo Router::url('/admin/dealers/edit/'.$this->Session->read('dealer.Dealer.id'))?>" class="higlighted">Setup Dealership</a></li>
            <li><a href="<?php echo Router::url('/admin/dealers/view/'.$this->Session->read('dealer.Dealer.id'))?>" class="higlighted">My Account</a></li>
            <li><a href="<?php echo Router::url('/admin/dealers/notfound/')?>" class="higlighted">Pages</a></li>
            <li><a href="<?php echo Router::url('/admin/dealers/notfound/')?>">News</a></li>
            <li><a href="<?php echo Router::url('/admin/dealers/notfound/')?>">Specials</a></li>
            <li><a href="<?php echo Router::url('/admin/dealers/notfound/')?>">Payment</a></li>
        </ul>
    </div>
</li>