/*	-------------------------------------------------------
Project  //   OZ Cars 
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.developer3@silvertrees.net  // 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
html { font-family:sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100% }
* { margin:0; padding:0; }
a { text-decoration:none; outline:none; color:#010101; }
a:hover { text-decoration:none; }
img { border: medium none; max-width: 100%; }
p { padding-bottom:5px; }
hr { border:0 #a8b1b8 solid; border-top-width:1px; clear:both; height:0; margin:25px 0 }
hr.black { border-color:#6b6b6b }
a, a:focus, a:hover { outline:none }
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.hide { display:none }
button { overflow: visible; background: none; border: none; cursor: pointer; font-family:Arial, Helvetica, sans-serif }
body { font:13px Verdana, Geneva, sans-serif; color:#010101; }
h1 { font-size:25px; }
h2 { font-size:35px; }
h3 { font-size:28px; }
h4 { font-size:22px; }
h5 { font-size:16px; }
h6 { font-size:12px; }
h1, h2, h3, h4, h5, h6 { font-weight:100; color:inherit; }
.default-head { font-size:20px; }
.rounded-md { border-radius:6px!important; }
.note { font-size:11px; color:#666 }
.clear { font-size:1%; clear:both; height:1%; overflow:hidden; line-height:1px }
.block { display:block }
.bold { font-weight:700 }
.underline { text-decoration:underline }
.transition, .main-nav > li a, .main-nav li .sub-nav, .btn, .customer-nav ul a, .side-list li a, .record .delete { webkit-transition: all .15s linear;
                                                                                                                   -moz-transition: all .15s linear;
                                                                                                                   -o-transition: all .15s linear;
                                                                                                                   transition: all .15s linear;
}
.text-danger { color:#c7110c }
.text-right { text-align:right }
.text-center { text-align:center }
.text-left { text-align:left }
.inline-block { display:inline-block; vertical-align: middle; }
.middle { vertical-align: middle; }
.center { margin:0 auto; display:block }
/*Banners*/
.fluid-banner { width:100%; overflow:hidden; }
.fluid-banner img { width:100%; max-width:100% }
/*btns*/
.btn { display:inline-block; /*text-align:center;*/ cursor:pointer }
.btn-block { display:block; width:100% }
.btn-default { background: #c7110c none repeat scroll 0 0; border: 1px solid #c7110c; color: #fff; }
.btn-info { background: #1674c8 none repeat scroll 0 0; border: 1px solid #1674c8; color: #fff; }
.btn-border { background:  none; border: 1px solid #005aab; color: #005aab; }
.btn-border:hover { background:#005aab; border: 1px solid #005aab; color: #fff; }
.btn-shape { background: #cacaca none repeat scroll 0 0; border: 1px solid #cacaca; color: #000; }
.btn-dark { background: #444 none repeat scroll 0 0; border: 1px solid #444; color: #fff; }
.btn-darkshape { background: #7c7c7c none repeat scroll 0 0; border: 1px solid #7c7c7c; color: #fff; }
.btn-primary { background: #393939; border: 1px solid #393939; color: #fff; }
.btn-danger { background: #ed1c25; border: 1px solid #ed1c25; color: #fff; }
.btn-danger:hover { background:#fff; border: 1px solid #ed1c25; color: #ed1c25; }
.btn-xs { font-size: 13px; padding: 6px 30px; }
.btn-sm { font-size: 11px; padding: 8px 30px; }
.btn-sm-center { font-size: 11px; padding: 6px 0; text-align:center }
.btn-md { font-size: 13px; padding: 10px 30px; }
.btn-lg { font-size: 13px; padding: 10px 30px; }
.text-sm { font-size:11px; }
/*spacers*/
.m-b-xs { margin-bottom:5px; }
.m-b-sm { margin-bottom:10px; }
.m-b-md { margin-bottom:15px; }
.m-b-lg { margin-bottom:30px; }
.m-b-xl { margin-bottom:45px; }
.m-t-xs { margin-top:5px; }
.m-t-sm { margin-top:10px; }
.m-t-md { margin-top:20px; }
.m-t-lg { margin-top:30px; }
.m-t-xl { margin-top:40px; }
.m-l-xs { margin-left:5px; }
.m-l-sm { margin-left:10px; }
.m-l-md { margin-left:20px; }
.m-l-lg { margin-left:30px; }
.m-l-xl { margin-left:50px; }
.m-r-xs { margin-right:5px; }
.m-r-sm { margin-right:10px; }
.m-r-md { margin-right:20px; }
.m-r-lg { margin-right:30px; }
.m-r-xl { margin-right:50px; }
.p-xs { padding:5px; }
.p-sm { padding:10px; }
.p-md { padding:15px; }
.p-xmd { padding:20px; }
.p-lg { padding:30px; }
.p-xl { padding:40px; }
.ico { display:inline-block; vertical-align:middle; }
.table-view { display: table; position: relative; width: 100%; }
.table-view > .cell { display: table-cell; vertical-align:middle }
/*forms*/
.form-section { padding: 10px 0; }
.section-heading { font-size: 25px; padding: 15px 0; }
.input { padding: 10px 0; position:relative }
.input label { display:block; padding-bottom:10px; }
.text input, .textarea textarea, .select select, .number input, .password input { border:1px solid #ccc; padding:10px; font-size:13px; color:#000; width:100%; font-family:Verdana, Geneva, sans-serif; }
.textarea textarea { height:200px }
.radio { padding-right:20px; }
.radio label { display:inline-block; padding:0 5px; }
.form-actions .btn { width: 350px; margin:2px; }
.form-actions .btn:last-child { margin-right:0 }
.submit { padding:15px 0; }
.submit > input { background: #c7110c; border: none; color: #fff; display: inline-block; font-size: 13px; margin-right: 5px; min-width: 200px; padding: 10px 30px; text-transform: uppercase; }
.checkbox > label { white-space:nowrap; padding-bottom:0 }
.map-selector input { border: 1px solid #ccc; padding: 10px; width: 250px; }
.select-style { border:1px solid #ccc; overflow:hidden; position:relative }
.select-style:before { content:"\f107"; display:inline-block; font:14px/1 FontAwesome; left:auto; right:10px; margin-top:-7px; position:absolute; top:50% }
.select-style select { background:#fff; border:none; display:block; width:110%; cursor:pointer; appearance:none; -webkit-appearance:none; -moz-appearance:none }
/*Custom checkbox*/
.radio-btn input[type="radio"], .check-box input[type="checkbox"] { visibility: hidden; }
.check-box { width: 16px; height: 16px; cursor: pointer; display: inline-block; margin: 0 7px 0 0; position: relative; overflow: hidden; background: rgb(255, 255, 255); border: 1px solid #000; float:left }
.check-box i { bottom: 20px; color: #005aab; font-size: 11px; height: 15px; left: 0; line-height: 16px; position: absolute; text-align: center; width: 14px; }
.checkedBox i { bottom: 0; }
/*Custom radio button*/
.radio-btn { width: 20px; height: 20px; display: inline-block; float: left; margin: 0 7px 0 0; cursor: pointer; position: relative; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border: 1px solid #ccc; }
.checkedRadio { background:#e3e4e6 }
.radio-btn i { width: 10px; height: 10px; position: absolute; left: 4px; top: 4px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.checkedRadio i { background-color: #c7110c; }
.radio-dark .radio-btn { border-color: #e2e4e6; background:#e2e4e6 }
.dealer-footer .footer-wrap { border-top:1px solid #ddd }
.dealer-footer .footer-links { list-style:none }
.dealer-footer .footer-links li { padding:3px 0 }
.dealer-footer .footer-links, .dealer-footer .footer-links a { color:#818285; font-size:11px }
.copyrights a:hover, .footer-links a:hover { color:#000; text-decoration:underline }
.dealer-footer .footer-thumbs { list-style:none }
.dealer-footer .footer-thumbs li { display:inline-block; padding:10px }
.copyrights { background:#ebf0f4; padding:25px 0; margin-top:20px; font-size:10px; color:#323232 }
.copyrights p { padding:15px 0; }
.copyrights p span { padding:0 5px; }
/*Listing*/
.features-ico { background:url(img/ico/features_ico.png) no-repeat; height:26px; display:inline-block; vertical-align:middle; width:30px; margin-right:8px; }
.features-ico.ico-01 { background-position:0 0 }
.features-ico.ico-02 { background-position:-142px 0 }
.features-ico.ico-03 { background-position:-290px 0 }
.features-ico.ico-04 { background-position:-445px 0 }
.features-ico.ico-05 { background-position:-562px 0 }
.features-ico.ico-06 { background-position:-705px 0 }
.features-ico.ico-07 { background-position:-853px 0 }
.features-ico.ico-08 { background-position:-950px 0 }
.features-ico.ico-09 { background-position:-1066px 0 }
.features-ico.ico-10 { background-position:-1175px 0 }
.features-ico.ico-11 { background-position:-1305px 0 }
/*Listing-tables*/
.listing-table { border-spacing: 0 10px; margin: 15px 0 0; }
.listing-table td, .listing-table th { border-bottom: 1px solid #afc4d4; border-collapse: collapse; border-top: 1px solid #afc4d4; font-size: 13px; padding: 6px; text-align: left; }
.listing-table td:first-child { border-left: 1px solid #afc4d4; }
.listing-table td:last-child { border-right: 1px solid #afc4d4; }
.listing-table th { font-weight: 100; text-transform: uppercase; border-color:#fff; color:#999; padding:0 6px }
.listing-table th a { color:#999 }
.listing-table tr.table-header { border:1px solid #fff; border-bottom: 1px solid #afc4d4; }
.action { list-style: outside none none; }
.action > li { display: inline-block; }
.action li a { background: rgba(0, 0, 0, 0) url("img/ico/listing_ico.png") no-repeat scroll 0 0; display: inline-block; font-size: 11px; height: 24px; line-height: 24px; margin: 0 6px; padding-left: 26px; text-transform: uppercase; }
.action li a.Edit { background-position:0 5px }
.action li a.Note { background-position:0 -224px }
.action li a.Delete { background-position: 0 -156px; }
.action li a.Duplicate { background-position: 0 -65px; }
.actions-bar { padding:30px 0; width:100%; display:block }
.actions-bar-border { border-bottom:1px solid #000; display:block; width:100%; }
.actions-bar-border h1 { font-size:25px; padding-bottom:15px; }
.display-options { margin:0 35px; }
.display-options a { background:url(img/ico/list_options.png) no-repeat; height:26px; display:inline-block; vertical-align:middle; width:26px; text-indent:-9999em; margin:0 3px; opacity:0.5 }
.display-options a.active, .display-options a:hover { opacity:1 }
.display-options a.display-grid { background-position:0 0 }
.display-options a.display-table { background-position:-40px 0 }
.display-options a.display-list { background-position:-80px 0 }
.listing-actions { font-size: 11px; padding: 7px 0; }
.listing-actions select { width:150px; border:1px solid #BBB; padding:2px; }
.listing-actions .btn { background: #777 none repeat scroll 0 0; border: 1px solid #fdfdfd; padding: 4px 10px; }
.listing-actions label { font-size:11px; display:inline; font-weight:100 }
.sort-box .fa { color: #afc4d4; font-size: 20px; padding: 0 5px; vertical-align: middle; }
.sort-box input { border: 1px solid #afc4d4; padding: 5px; text-align: center; }
.sort-box { padding: 5px; }
.save-order { color: #2fb400; }
.listing-large { margin-bottom:30px; overflow:hidden; }
.listing-large th { color: #999; font-weight: 100; padding: 10px; text-align: left; }
.listing-large td { background:#eff0f1; padding:20px 10px; border-bottom:10px solid #fff }
.check-cell { background:#fff }
.listing-large .feature-content h3 { font-size: 14px; padding: 10px 0; }
.listing-large .feature-content h3 strong { display: block; font-weight: 700; }
.feature-content > table { border-top: 1px solid #a8b1b8; margin-top: 12px; }
.feature-content td { border-bottom: 1px solid #a8b1b8; padding: 8px 10px; }
.car-listing table td { background: #eff0f1 none repeat scroll 0 0; border: medium none; }
.car-listing table tr td:first-child { background: #fff none repeat scroll 0 0; border: medium none; }
.car-listing table tr td:last-child { border: medium none; }
/*3box grid*/
.car-box { display:block; background:#eff0f1; padding:20px; font-size:12px; margin-bottom:20px; }
.car-box.active { display:block; background:#eff0f1; padding:20px; font-size:12px; margin-bottom:20px; }
.car-box ul { list-style:none }
.car-box li { display: inline; float: left; height: 18px; line-height: 12px; overflow: hidden; padding: 5px 0; width: 50%; }
.car-box h3 { font-size:14px; font-weight:700 }
.car-box .row { margin-top:5px; margin-bottom:5px; }
.list-table td { padding:3px 10px; }
.list-table tr:nth-child(even) td {
    background:#f1f2f2
}
.data-table td { padding:5px; vertical-align:top }
.switcher { background:url(img/ico/switcher.png) no-repeat; height:13px; width:13px; display:block; margin:2px auto; text-indent:-9999em }
.switcher.on { background-position:0 -13px }
.toggle-list { border-top: 1px solid #e5e5e5; list-style: outside none none; }
.toggle-list > li { border-bottom: 1px solid #e5e5e5; position: relative; }
.toggle-list > li > a { display: block; font-size: 14px; line-height: 25px; padding: 12px 20px; }
.toggle-list > li > a.active { font-weight:700 }
.toggle-list > li > a .fa { margin-right:30px; color:#9ea4a9; font-size:20px; }
.toggle-list ul { list-style: outside none disc; margin: 0 35px 15px 105px; display:none }
.toggle-list ul li { padding:6px; }
.mail-box { margin-top:0 }
.mail-box th { font-size:12px; text-transform:none }
.mail-box td { border-color:#ccc }
.mail-box td:first-child, .mail-box td:last-child { border-color:#ccc }
.mail-box .check-box { border-color:#828282 }
.list-options { margin:10px; }
.list-options a { background:url(img/ico/list_options_w.png) no-repeat; height:17px; display:inline-block; vertical-align:middle; width:17px; text-indent:-9999em; margin:0 10px; }
.list-options a.display-map { background-position:0 0 }
.list-options a.display-list { background-position:-40px 0 }
.list-options a.display-grid { background-position:-80px 0 }
.listing-wrap { padding:5px; border:4px solid #ebf0f4; border-top:none }
.listing-box-head { border-bottom:5px solid #c7110c; padding:10px 0; }
.listing-box-head h3 { font-size:18px; }
.listing-box-head .meta { padding-top:5px; }
.meta i { color: #a8b1b8; font-size: 16px; vertical-align: middle; }
.badge { background: #c7110c; border-radius: 50%; color: #fff; display: inline-block; line-height: 20px; min-height: 22px; min-width: 22px; text-align: center; vertical-align: middle; }
.listing-box-primary { border-bottom:1px solid #000; margin-bottom:30px; }
.listing-box-content { padding:10px 0 }
.listing-box-content { font-size:11px; }
.listing-box-content .feature-content td { padding:5px; }
.listing-map > img { display: block; width: 100%; }
.map-caption { background: #c7110c none repeat scroll 0 0; color: #fff; padding: 8px; }
.item-price { font-size: 23px; line-height: 30px; }
.item-meta { font-size: 10px; }
/*.listing-map, .map-caption, .listing-box-content .btn { margin-left: 7px; }*/
.listing-box-content .btn { margin-top:10px; text-align:center }
.listing-meta { margin-bottom: 20px; padding: 10px; }
.show-results { font-size:12px; }
.show-results a { text-decoration:underline; color:#005aab }
.listing-meta .select-style { border-color:#000 }
.listing-meta .select-style::before {
    color:#005aab
}
.action-btn { min-width:350px; text-align:center; }
/*Grid Custom*/
.contents > .container > .col-md-8 { width:69%; }
.contents > .container > .col-md-4 { width:31%; }
/* Hide scroll bar */
html.remodal-is-locked { overflow: hidden; }

/* Anti FOUC */

.remodal, [data-remodal-id] {
    display: none;
}
.remodal-wrapper { position: fixed; z-index: 10000; top: 0; right: 0; bottom: 0; left: 0; display: none; overflow: auto; -webkit-overflow-scrolling: touch; }
.remodal-wrapper:after { display: inline-block; height: 100%; margin-left: -0.05em; content: ""; }
/* Fix iPad, iPhone glitches */

.remodal-overlay, .remodal-wrapper { backface-visibility: hidden; }
/* Necessary styles of the modal dialog */

.remodal { position: relative; outline: none; text-size-adjust: 100%; }
.remodal-is-initialized { /* Disable Anti-FOUC */ display: inline-block; }
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening, .remodal-bg.remodal-is-opened { filter: blur(3px); }
/* Default theme styles of the overlay */

.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing { animation-fill-mode: forwards; }
.remodal-overlay.remodal-is-opening { animation: remodal-overlay-opening-keyframes 0.3s; }
.remodal-overlay.remodal-is-closing { animation: remodal-overlay-closing-keyframes 0.3s; }
/* Default theme styles of the wrapper */

.remodal-wrapper { padding: 10px 10px 0; }
/* Default theme styles of the modal dialog */

.remodal { box-sizing: border-box; width: 100%; margin-bottom: 10px; padding: 35px; transform: translate3d(0, 0, 0); color: #2b2e38; background: #fff; }
.remodal.remodal-is-opening, .remodal.remodal-is-closing { animation-fill-mode: forwards; }
.remodal.remodal-is-opening { animation: remodal-opening-keyframes 0.3s; }
.remodal.remodal-is-closing { animation: remodal-closing-keyframes 0.3s; }
.remodal, .remodal-wrapper:after { vertical-align: middle; }
.remodal-confirm::-moz-focus-inner, .remodal-cancel::-moz-focus-inner, .remodal-close::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Keyframes
   ========================================================================== */

@keyframes remodal-opening-keyframes { from {
                                           transform: scale(1.05);
                                           opacity: 0;
                                       }
                                       to { transform: none; opacity: 1; }
}
@keyframes remodal-closing-keyframes { from {
                                           transform: scale(1);
                                           opacity: 1;
                                       }
                                       to { transform: scale(0.95); opacity: 0; }
}
@keyframes remodal-overlay-opening-keyframes { from {
                                                   opacity: 0;
                                               }
                                               to { opacity: 1; }
}
@keyframes remodal-overlay-closing-keyframes { from {
                                                   opacity: 1;
                                               }
                                               to { opacity: 0; }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 700px;
    }
}
#flashMessage, .flashMessage, #AdminLoginMessage { clear:both; margin-bottom:15px; padding:10px 10px 10px 40px; min-height:20px; font-family:Arial, Tahoma, sans-serif; font-size:12px; font-weight:normal; line-height:20px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; -moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; -webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; -o-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; margin:15px 0; }
.fail, .Errormessage { border:1px solid #dc4e4d; color:#b52525; background: url(admin/ico/error.png) no-repeat 15px 14px #ffbfbf; }
.success, .Sucmessage { border:1px solid #accc5d; color:#70892b; background: url(admin/ico/succ.png) no-repeat 15px 14px #ecfebe; }
.info, .Notemessage { border:1px solid #e9c95f; color:#ae8500; background: url(admin/ico/info.png) no-repeat 15px 14px #f9e08f; }
.form-loader { color:#FFF; padding:3px 0 2px 25px }
input.form-error { background:#ffe3e3 }
div.error-message { background:rgba(0, 0, 0, .7); border:1px solid #333; border-radius:5px; box-shadow:0 1px 2px rgba(0, 0, 0, .4); color:#FFF; display:block; font-size:11px; padding:4px 10px; position:absolute; z-index:100; bottom:-25px; }
div.error-message:after { border-bottom:6px solid rgba(0, 0, 0, .7); border-left:6px solid transparent; border-right:7px solid transparent; content:""; display:inline-block; margin-left:-5px; position:absolute; right:50%; top:-7px }
#flashMessage{display: none;}