@font-face {
 font-family: 'futura_md_btbold';
 src: url('fonts/futura-md-bt-bold-webfont.eot');
 src: url('fonts/futura-md-bt-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futura-md-bt-bold-webfont.woff2') format('woff2'), url('fonts/futura-md-bt-bold-webfont.woff') format('woff'), url('fonts/futura-md-bt-bold-webfont.ttf') format('truetype'), url('fonts/futura-md-bt-bold-webfont.svg#futura_md_btbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
.text-primary { color:#005aab }
.btn { border-radius : 3px; }
.highlight { color:#ed1c25 }
.dealer-footer { padding:30px 0 0 0 }
.bottom-social a { font-size:30px; color:#333; padding:0 8px; display:inline-block }
.customer-nav { background:#005aab; display:block; height:50px; }
.customer-nav ul { list-style:none; }
.customer-nav li { display:inline-block; float:left }
.customer-nav ul a { display:inline-block; line-height:50px; color:#fff; padding:0 15px; text-transform:uppercase }
.customer-nav ul a:hover { background:#ed1c25; color:#fff; }
.header-wrap { padding:20px 0 }
.contents { border-top:30px solid #005aab; padding:30px 0 }
.title-bar { padding:10px; border-bottom:1px solid #000; margin:15px 0 30px; font-size:18px; }
.customer-panel { border:1px solid #000; border-top:10px solid #005aab; padding:15px; }
.customer-panel h3 { border-bottom:1px solid #000; padding-bottom:10px; margin-bottom:10px; font-size:18px; }
.customer-panel ul { list-style:none; padding:10px 0 }
.customer-panel ul li { border-bottom:1px solid #cfdce5 }
.customer-panel ul li a { font-size:12px; color:#000; display:block; padding:10px }
.customer-panel ul li:last-child { border:none }
.customer-panel .ico { background:url(img/ico/customer_nav.png) no-repeat; height:45px; width:60px; display:inline-block; vertical-align:middle; margin-right:20px; }
.customer-panel .ico-01 .ico { background-position: 0 0 }
.customer-panel .ico-01:hover .ico { background-position: -180px 0 }
.customer-panel .ico-02 .ico { background-position: 0 -60px }
.customer-panel .ico-02:hover .ico { background-position: -180px -60px }
.customer-panel .ico-03 .ico { background-position: 0 -125px }
.customer-panel .ico-03:hover .ico { background-position: -180px -125px }
.customer-panel .ico-04 .ico { background-position: 0 -190px }
.customer-panel .ico-04:hover .ico { background-position: -180px -190px }
.customer-panel .ico-05 .ico { background-position: 0 -255px }
.customer-panel .ico-05:hover .ico { background-position: -176px -255px }
.customer-panel .ico-06 .ico { background-position: 0 -315px }
.customer-panel .ico-06:hover .ico { background-position: -180px -315px }
.customer-panel .ico-07 .ico { background-position: 0 -380px }
.customer-panel .ico-07:hover .ico { background-position: -180px -380px }
.customer-panel .ico-08 .ico { background-position: 0 -445px }
.customer-panel .ico-08:hover .ico { background-position: -180px -445px }
.customer-panel .ico-09 .ico { background-position: 0 -510px }
.customer-panel .ico-09:hover .ico { background-position: -180px -510px }
.customer-panel .ico-10 .ico { background-position: 0 -573px }
.customer-panel .ico-10:hover .ico { background-position: -180px -573px }
.customer-panel .ico-11 .ico { background-position: 0 -638px }
.customer-panel .ico-11:hover .ico { background-position: -180px -638px }
.customer-panel .ico-12 .ico { background-position: 0 -702px }
.customer-panel .ico-12:hover .ico { background-position: -180px -702px }
.customer-panel .ico-13 .ico { background-position: 0 -780px }
.customer-panel .ico-13:hover .ico { background-position: -185px -780px }
.collapse-section { padding: 10px 0; }
.collapse-content { padding:10px 0 }
.collapse-bar { background: #e6e6e6 none repeat scroll 0 0; border-bottom: 1px solid #a8b1b8; min-height: 50px; display:block; padding: 10px 15px; overflow:hidden }
.collapse-bar .switcher { margin-right: 15px; margin-top: 10px; }
.head-bar { background:#fff; padding:10px 0 }
.collapse-bar .fa { font-size:14px; }
.collapse-bar ul { list-style: outside none none; padding-top: 7px; }
.collapse-bar ul li { display: inline-block; float: left; font-size: 11px; letter-spacing: -0.5px; padding: 2px; }
.collapse-bar ul li a:hover { color:#ea2231 }
.collapse-bar h3 { font-size: 16px; line-height: 32px; padding-left:10px; }
.saved-list .checkbox { border-bottom:5px solid #c7110c; display:block; width:100% }
.saved-list .checkbox label { display: block; font-size: 15px; line-height: 17px; padding-left: 25px; white-space:normal }
.saved-list-actions { font-size:22px; }
.saved-list-actions a { line-height:40px; }
.saved-list-actions a:hover { color:#fff; }
.saved-list-actions a.btn-danger { background:#c7110c; border-color:#c7110c }
.saved-list-actions a.btn-dark { font-size:12px; }
.saved-dealers .action li a { font-size:11px; padding-left:20px; }
.dealer-list-head { padding:5px 0; border-bottom:1px solid #000; width:100%; }
.dealer-details .features-ico { margin-right:0 }
.notes { background:#ebf0f4; padding:20px; border-top:1px solid #000; min-height:85px }
.newsletter-check .check-box { margin-right:30px; }
.newsletter-check .sub-inputs { margin-left:45px; margin-top:0 }
.newsletter-check .action-btn { min-width:260px; margin-top:20px }
/*collapse bar icons*/
.collapse-bar .ico { background:rgba(0, 0, 0, 0) url("img/ico/customer_nav.png") no-repeat scroll 0 0 / 140px; height:30px; width:30px; display:inline-block; vertical-align:middle; margin:0 5px; }
.collapse-bar .ico-02 .ico { background-position:0 -37px }
.collapse-bar .ico-04 .ico { background-position:0 -113px }
.collapse-bar .ico-06 .ico { background-position:0 -192px }
.collapse-bar .ico-07 .ico { background-position:0 -232px }
.collapse-bar .ico-09 .ico { background-position:0 -309px }
.collapse-bar .ico-14 .ico { background-position:-111px -526px }
.collapse-bar .ico-15 .ico { background-position:-111px -570px }
.collapse-bar .ico-16 .ico { background-position:-111px -626px }
.collapse-bar .ico-17 .ico { background-position:-111px -683px }
.collapse-bar .ico-18 .ico { background-position:-111px -733px }
.side-nav { width:300px }
.promo-widget { border:1px solid #000 }
.promo-widget img { display:block }
.msg-list .unread a { color:#005aab }
/*icons*/
.user-ico { background:url(img/ico/user_ico.png) no-repeat; height:21px; width:21px; display:inline-block; vertical-align:middle; margin:0 10px; }
.login-section { background:url(img/banners/login_bg.jpg) no-repeat center center / cover; max-height:990px; color:#fff }
.dealer-login { background: rgba(0, 0, 0, 0) url("img/banners/dealer_bg.jpg") no-repeat scroll center center / cover; color: #fff; max-height: 1040px; }
.login-section h2, .login-section h3 { font-weight:700; text-transform:uppercase; padding:30px 0; font-family: 'futura_md_btbold'; }
.login-section h3 { font-size: 20px; padding: 35px 0 40px; }
.login-box { background: #fff none repeat scroll 0 0; border: 5px solid #ebf0f4; margin-bottom: 45px; padding: 45px; }
.login-box h5 { padding:5px; text-transform:uppercase; font-weight:700; margin-bottom:20px; font-size:18px }
.login-box .input { padding-top:4px }
.login-box .btn-default { width:180px; text-align:center; background:#ed1c25; border:1px solid #ed1c25 }
.social-login a { display:block; height:44px; width:211px; text-indent:-99999em; margin:0 auto 10px; }
.social-login a.fb-btn { background:url(img/ico/fb_btn.png) no-repeat; }
.social-login a.tw-btn { background:url(img/ico/tw_btn.png) no-repeat; }
.social-login a.g-btn { background:url(img/ico/g_btn.png) no-repeat; }
.vertical-divider { width:2px; background:#ebf0f4; height:215px; margin-top:10px; position:relative; }
.vertical-divider span { background: #fff none repeat scroll 0 0; color: #1b68b1; display: block; font-size: 13px; font-weight: 700; height: 50px; left: 50%; line-height: 50px; margin-left: -25px; margin-top: -25px; padding: 0; position: absolute; text-align: center; top: 50%; width: 50px; }
.specials-promo { background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; margin-top: 120px; padding: 80px 0; }
.promo-box { text-align:center; }
.saved-list .feature-content td { padding:5px 0 }
.saved-list .feature-content .features-ico { margin-right:4px; }
/*forms*/
.text input, .textarea textarea, .select select, .number input, .password input { border-color:#afc4d4; padding:7px; }
.text input:hover, .textarea textarea:hover, .select select:hover, .number input:hover, .password input:hover, .select-style:hover { border-color:#005aab; }
.select-style { border-color:#afc4d4; }
.select-style select { padding:7px }
.sub-inputs { margin-left:25px; }
.textarea textarea { height: 110px; }
.irs { position: relative; display: block; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin:0 10px }
.irs-line { position: relative; display: block; overflow: hidden; outline: none !important; background:#000 }
.irs-line-left, .irs-line-mid, .irs-line-right { position: absolute; display: block; top: 0; }
.irs-line-left { left: 0; width: 11%; }
.irs-line-mid { left: 9%; width: 82%; }
.irs-line-right { right: 0; width: 11%; }
.irs-bar { position: absolute; display: block; left: 0; width: 0; }
.irs-bar-edge { position: absolute; display: block; top: 0; left: 0; }
.irs-shadow { position: absolute; display: none; left: 0; width: 0; }
.irs-slider { position: absolute; display: block; cursor: default; z-index: 1; }
.irs-slider.single { }
.irs-slider.from { }
.irs-slider.to { }
.irs-slider.type_last { z-index: 2; }
.irs-min { position: absolute; display: block; left: 0; cursor: default; }
.irs-max { position: absolute; display: block; right: 0; cursor: default; }
.irs-from, .irs-to, .irs-single { position: absolute; display: block; bottom: -15px; left: 0; cursor: default; white-space: nowrap; }
.irs-grid { position: absolute; display: none; bottom: 0; left: 0; width: 100%; height: 20px; }
.irs-with-grid .irs-grid { display: block; }
.irs-grid-pol { position: absolute; top: 0; left: 0; width: 1px; height: 8px; background: #000; }
.irs-grid-pol.small { height: 4px; }
.irs-grid-text { position: absolute; bottom: 0; left: 0; white-space: nowrap; text-align: center; font-size: 9px; line-height: 9px; padding: 0 3px; color: #000; }
.irs-disable-mask { position: absolute; display: block; top: 0; left: -1%; width: 102%; height: 100%; cursor: default; background: rgba(0, 0, 0, 0.0); z-index: 2; }
.irs-disabled { opacity: 0.4; }
.lt-ie9 .irs-disabled { filter: alpha(opacity=40); }
.irs-hidden-input { position: absolute !important; display: block !important; top: 0 !important; left: 0 !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; padding: 0 !important; margin: 0 !important; outline: none !important; z-index: -9999 !important; background: none !important; border-style: solid !important; border-color: transparent !important; }
.irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider { background: #000; }
.irs { height: 40px; }
.irs-with-grid { height: 60px; }
.irs-line { height: 1px; top: 25px; }
.irs-line-left { height: 1px; background:#000; }
.irs-line-mid { height: 1px; background:#000 }
.irs-line-left { height: 1px; background:#000; }
.irs-bar { height: 1px; top: 25px; background-position:#000; }
.irs-bar-edge { top: 25px; height: 12px; width: 9px; background-position: 0 -90px; }
.irs-shadow { height: 3px; top: 34px; background: #000; opacity: 0.25; }
.lt-ie9 .irs-shadow { filter: alpha(opacity=25); }
.irs-slider { background: #005aab none repeat scroll 0 0; border-radius: 50%; height: 14px; top: 19px; width: 14px; }
.irs-slider.state_hover, .irs-slider:hover { background-position: 0 -150px; }
.irs-min, .irs-max { color: #999; font-size: 10px; line-height: 1.333; text-shadow: none; top: 0; padding: 1px 3px; background: #e1e4e9; -moz-border-radius: 4px; border-radius: 4px; }
.irs-grid-pol { background: #e1e4e9; }
.irs-grid-text { color: #999; }
.range-bordered .irs-bar, .km-range .irs-line { height:5px; }
.range-bordered .irs-slider { background: #fff none repeat scroll 0 0; border: 5px solid #005aab; border-radius: 50%; height: 15px; top: 20px; width: 15px; }
.range-bordered .irs-bar { background:#afc4d4; }
.range-bordered .irs-line { background:#005aab; border-radius: 5px; }
.catalouge-box .checkbox label { font-size:10px; }
.catalouge-data { padding:15px 0; }
.catalouge-img { height:230px; background:#ebf0f4; display:table; width:100% }
.catalouge-img-wrap { display:table-cell; vertical-align:middle; }
.catalouge-img-wrap img { max-width:100% }
.catalouge-dealer { border-bottom:1px solid #a8b1b8; border-top:1px solid #a8b1b8; width:100%; display:table }
.catalouge-dealer a { display:table-cell; vertical-align:middle; height:60px; }
.catalouge-items .owl-prev, .catalouge-items .owl-next { background: rgba(0, 0, 0, 0) url("img/ico/arrows_sm_thin_gray.png") no-repeat scroll 0 0; display: inline-block; height: 16px; text-indent: -9999em; width: 16px; position:absolute; left:-20px; top:50%; margin-top:-8px; z-index:20 }
.catalouge-items .owl-next { background-position:right 0; right:-25px; left:auto }
.catalouge-items .owl-pagination { display:none }
.features-list { list-style:none; }
.features h3 { font-size:18px; }
.features-list li label { font-size:11px }
.owl-carousel .owl-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
/* display none until init */
.owl-carousel { display: none; position: relative; width: 100%; -ms-touch-action: pan-y; }
.owl-carousel .owl-wrapper { display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper-outer { overflow: hidden; position: relative; width: 100%; }
.owl-carousel .owl-wrapper-outer.autoHeight { -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.owl-carousel .owl-item { float: left; }
.owl-controls .owl-page, .owl-controls .owl-buttons div { cursor: pointer; }
.owl-controls { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* mouse grab icon */
.grabbing { cursor:url(grabbing.png) 8 8, move; }
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item { -webkit-backface-visibility: hidden; -moz-backface-visibility:    hidden; -ms-backface-visibility:     hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); }
.owl-theme .owl-controls { margin-top: 10px; text-align: center; }
.owl-theme .owl-controls .owl-page { display: inline-block; zoom: 1; *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span { display: block; width: 8px; height: 8px; margin: 4px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background: #c7110c; }
.owl-theme .owl-controls .owl-page.active span { background:#a8b1b8; }
.owl-theme .owl-controls .owl-page span.owl-numbers { height: auto; width: auto; color: #FFF; padding: 2px 10px; font-size: 12px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.owl-item.loading { min-height: 150px; background: url(AjaxLoader.gif) no-repeat center center }
.owl-origin { -webkit-perspective: 1200px; -webkit-perspective-origin-x : 50%; -webkit-perspective-origin-y : 50%; -moz-perspective : 1200px; -moz-perspective-origin-x : 50%; -moz-perspective-origin-y : 50%; perspective : 1200px; }
/* backSlide */
.owl-backSlide-out { -webkit-animation: backSlideOut 1s both ease; -moz-animation: backSlideOut 1s both ease; animation: backSlideOut 1s both ease; }
.owl-backSlide-in { -webkit-animation: backSlideIn 1s both ease; -moz-animation: backSlideIn 1s both ease; animation: backSlideIn 1s both ease; }


/* Keyframes */
/*empty*/
@-webkit-keyframes empty { 0% {
opacity: 1
}
}
@-moz-keyframes empty { 0% {
opacity: 1
}
}
@keyframes empty { 0% {
opacity: 1
}
}
 @-webkit-keyframes backSlideOut { 25% {
opacity: .5;
-webkit-transform: translateZ(-500px);
}
 75% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(-200%);
}
 100% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(-200%);
}
}
@-moz-keyframes backSlideOut { 25% {
opacity: .5;
-moz-transform: translateZ(-500px);
}
 75% {
opacity: .5;
-moz-transform: translateZ(-500px) translateX(-200%);
}
 100% {
opacity: .5;
-moz-transform: translateZ(-500px) translateX(-200%);
}
}
@keyframes backSlideOut { 25% {
opacity: .5;
transform: translateZ(-500px);
}
 75% {
opacity: .5;
transform: translateZ(-500px) translateX(-200%);
}
 100% {
opacity: .5;
transform: translateZ(-500px) translateX(-200%);
}
}
@-webkit-keyframes backSlideIn { 0%, 25% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(200%);
}
 75% {
opacity: .5;
-webkit-transform: translateZ(-500px);
}
 100% {
opacity: 1;
-webkit-transform: translateZ(0) translateX(0);
}
}
@-moz-keyframes backSlideIn { 0%, 25% {
opacity: .5;
-moz-transform: translateZ(-500px) translateX(200%);
}
 75% {
opacity: .5;
-moz-transform: translateZ(-500px);
}
 100% {
opacity: 1;
-moz-transform: translateZ(0) translateX(0);
}
}
@keyframes backSlideIn { 0%, 25% {
opacity: .5;
transform: translateZ(-500px) translateX(200%);
}
 75% {
opacity: .5;
transform: translateZ(-500px);
}
 100% {
opacity: 1;
transform: translateZ(0) translateX(0);
}
}
@-webkit-keyframes scaleToFade { to {
opacity: 0;
-webkit-transform: scale(.8);
}
}
@-moz-keyframes scaleToFade { to {
opacity: 0;
-moz-transform: scale(.8);
}
}
.catalouge-items .item img { border:3px solid #fff }
.catalouge-items .clicked img { border:3px solid #005aab }
/* PORTAL */
.default-tabs .tab-buttons { display: table; position: relative; width: 100%; }
.default-tabs > .tab-buttons .tab-btn { cursor: pointer; display: table-cell; position: relative; text-align: center; transition: all 300ms ease 0s; border-bottom:10px solid #2484c6; }
.default-tabs > .tab-buttons .tab-btn.active { border-bottom:10px solid #005aab; }
.default-tabs >.tab-buttons a { color:#005aab; font-size:12px; display:block; line-height:40px; }
.default-tabs .tabs-box { padding:25px 20px; }
.tabs-box .tab { display:none }
.tabs-box .tab.current { display:block }
.mega-search { border: 2px solid #005aab; border-radius: 3px; width:100%; margin-bottom:15px }
.mega-search input { border: medium none; color: #005aab; font-size: 15px; font-weight: 700; height: 50px; padding: 15px; width: calc(100% - 60px); float:left; }
.mega-search .search-ico { background:  url("img/ico/search_lg.png") no-repeat scroll center center; border-left: 1px solid #ddd; float: left; height: 50px; width: 60px; }
.sm-search { border: 2px solid #005aab; border-radius: 3px; width:100%; }
.sm-search input { border: medium none; color: #005aab; font-size: 12px; font-weight: 700; padding: 10px; width: calc(100% - 30px); float:left; }
.sm-search .search-ico { float: left; height: 30px; width: 30px; text-align:center; line-height:30px; color:#005aab }
.location-box-head { background:url(img/banners/locations_bg.jpg) no-repeat; height:84px; width:100%; position:relative }
.location-box-head .dealers-marke { background:url(img/dealers_count.png) no-repeat; width:81px; height:92px; position:absolute; top:-15px; right:15px; ; text-indent:-9999em }
.search-area { padding-right:20px; border-right:2px solid #ebf0f4 }
.search-bx { float: left; width: 515px; }
.type-bx { float: right; width: 190px; }
.search-area .collapse-content { padding-top:0 }
.location-box-head h3 { color: #fff; font-size: 20px; font-weight: 700; line-height: 21px; padding: 25px 0 0 25px; width: 185px; }
.location-box-content { background:#005aab; padding:15px 30px; }
.default-tabs > .tab-buttons { display: table; position: relative; width: 100%; }
.default-tabs > .tab-buttons .tab-btn { cursor: pointer; display: table-cell; position: relative; text-align: center; transition: all 300ms ease 0s; border-bottom:10px solid #2484c6; }
.location-search .tab-buttons { display: table; list-style: outside none none; margin: 0 0 10px -4px; width: 100%; }
.location-search .tab-buttons .tab-btn { cursor: pointer; display: table-cell; position: relative; text-align: center; transition: all 300ms ease 0s; }
.location-search .tab-buttons .tab-btn a { background: #fff none repeat scroll 0 0; border: 2px solid #fff; color: #000; display: block; font-size: 12px; line-height: 28px; margin: 0 4px; min-width: 121px; text-align: center; }
.location-search .tab-buttons a:hover { transform: translate(0px, -5px); }
.location-search .tab-buttons .tab-btn.active a { border:2px solid #ea2231; font-weight:700; color:#ea2231 }
.location-search .input { padding:4px 0 }
.car-type-tab { padding-top:10px; }
.car-type-tab .tab-buttons .tab-btn a { border:1px solid #afc4d4; min-width:90px }
.location-search .select .select-style { border-color:#fff }
.section-search .col-md-4-f, .section-search .col-md-8-f { float:left; position:relative; padding-left:10px; padding-right:10px; }
.section-search .col-md-8-f { width:780px; }
.section-search .col-md-4-f { width:330px; }
.car-type-tab .tab-buttons { margin-bottom:5px }
.car-type-tab .tabs-box { padding:0 }
.car-type-tab .body-types .type-ico { height: 50px; margin-bottom: 0; width: 80px; }
 .car-type-tab .body-types .type-ico:hover::before, .car-type-tab .body-types .type-ico.active::before {
height:140%
}
/*Search Results Page*/
.listing-section { padding:10px 0 }
.listing-bar { background:#005aab; padding:10px 0; }
.results-statistics { list-style:none }
.results-statistics li { border-right: 1px solid #000; color: #fff; display: inline-block; float: left; font-size: 12px; line-height: 20px; padding: 7px 10px; }
.results-statistics li:last-child { border: medium none; padding-right: 0; }
.results-statistics li > span { font-size: 22px; padding: 0 5px; }
.filters { border:4px solid #ebf0f4; border-top:none; }
.filters .tab-buttons { border-top:10px solid #005aab; }
.search-tabs .tab-buttons { display: table; position: relative; width: 100%; }
.search-tabs .tab-buttons .tab-btn { cursor: pointer; display: table-cell; position: relative; text-align: center; transition: all 300ms ease 0s; color:#fff; background:#0072bc; opacity: 0.8 }
.search-tabs .tab-buttons .tab-btn:first-child { width:180px; }
.search-tabs .tab-buttons a { font-size:16px; display:block; line-height:40px; color:#fff }
.search-tabs .tab-buttons .tab-btn.active { background:#fff; color:#0072bc }
.search-tabs .tab-buttons .tab-btn.active a { color:#000 }
.search-tabs .tabs-box { padding:10px; }
.search-tabs .radio { font-size: 12px; padding: 0; }
.search-tabs .radio-btn { border: 1px solid #b7cad9; border-radius: 100%; cursor: pointer; display: inline-block; float: left; height: 15px; margin: 0; position: relative; width: 15px; }
.search-tabs .radio-btn i { height: 14px; left: -1px; position: absolute; top: -1px; width: 14px; }
.search-tabs .checkedRadio i { background:#005aab url(img/ico/tick.png) no-repeat center; }
/*Accordion*/
.accordion .content-box { display:none }
 .accordion .toggle-btn.active a::after {
 content: "–";
}
 .accordion .toggle-btn a::after {
 background: #000 none repeat scroll 0 0;
 content: "";
 display: block;
 font-size: 24px;
 height: 15px;
 line-height: 15px;
 position: absolute;
 right: 6px;
 text-align: center;
 top: 10px;
 transform: rotateX(85deg);
 width: 15px;
 z-index: 5;
}
.accordion .toggle-btn a::before {
 background: #000 none repeat scroll 0 0;
 content: "";
 display: block;
 font-size: 24px;
 height: 15px;
 line-height: 15px;
 position: absolute;
 right: 12px;
 text-align: center;
 top: 10px;
 width: 1px;
 z-index: 5;
}
.search-accordion { padding: 20px 0; }
.accordion > ul { list-style: outside none none; }
.search-accordion li { border-bottom: 1px solid #afc4d4; padding: 0; }
.search-accordion li.active-box .toggle-btn a::before {
display:none
}
.accordion > h5 { border-bottom: 1px solid #afc4d4; line-height: 25px; padding-bottom: 10px; }
.toggle-btn > a { color: #000; display: block; font-size: 12px; padding: 10px; position: relative; }
.accordion .content-box { padding:5px 10px 15px; }
.active-box .content-box { display:block }
.side-list { list-style:none }
.side-list li { border:none }
.side-list li a { color:#6c6c6c; font-size:12px; padding:5px 10px; display:block }
.side-list li a:hover { background:#e3e3e3 }
.side-list li a.active { background:#e3e3e3 }
.body-types { display:block; width:100%; }
.body-types .type-ico { border: 5px solid #fff; display: block; font-size: 9px; height: 61px; margin-bottom: 5px; padding: 0 5px; position: relative; z-index: 100; }
.body-types .type-ico:hover, .body-types .type-ico.active { border: 5px solid #ea2231; }
.body-types .type-ico:hover:before, .body-types .type-ico.active:before { background: #fff none repeat scroll 0 0; content: ""; display: block; height: 80px; left: 50%; margin-left: -25px; position: absolute; top: -6px; width: 50px; z-index: -1; }
.advanced-search-ico { background:url(img/ico/advanced_search.png) no-repeat; height:26px; width:26px; }
.tab .customer-panel { border:none; padding:0 }
.grid-img-wrap, .grid-meta-wrap { float:left; padding-left:2px; padding-right:2px; }
.grid-meta-wrap { width: 120px; }
.grid-meta-wrap .map-caption, .grid-meta-wrap .btn { margin:0 }
.grid-meta-wrap .btn { margin:0; white-space:nowrap; padding-left:0; padding-right:0; margin-top:5px; text-align:center }
.grid-meta-wrap .map-caption { margin-top:9px }
.grid-img-wrap { width: 225px; }
.grid-view .feature-content td { font-size:11px; }
.grid-view .listing-box-primary { border:none }
.dealers-list > ul { list-style: outside none none; width: 101%; }
.dealers-list > ul li { border-right: 1px solid #a8b1b8; float: left; height: 50px; margin-bottom: 10px; text-align: center; vertical-align: middle; width: 33%; }
.popular-dealerships .next, .popular-dealerships .prev { color: #005aab; display: block; font-size: 30px; height: 34px; cursor:pointer; left: 0; line-height: 30px; position: absolute; text-align: center; top: 50%; width: 35px; margin-top:-17px }
.popular-dealerships { padding:0 30px; position:relative; }
.popular-dealerships .next { right:0; left:auto; }
.welcome-section { background:url("img/banners/welcome_section_01.jpg") no-repeat center center/cover; height:400px; padding:60px 0; position:relative; }
.welcome-section .btn { min-width:190px; }
.welcome-section h3 { color: #fff; font-size: 18px; font-weight: 700; text-transform:uppercase; position: relative; text-align: center; }
.welcome-section h2 { font-size:30px; color:#fff; font-weight:700; text-transform:uppercase }
.pricing { background:url("img/banners/pricing_01.jpg") no-repeat center center/cover; height:660px; padding:60px 0; position:relative; }
.pricing h3 { color: #fff; font-size: 24px; font-weight: 700; }
.pricing-box { background: #fff none repeat scroll 0 0; margin: 50px auto 0; padding: 35px; width: 730px; }
.pricing-box > h4 { color: #505050; font-size: 21px; font-weight: 700; text-transform: uppercase; }
.package-price { color: #005aab; font-size: 80px; font-weight: 700; line-height: 50px; margin-top: 30px; }
.package-price sup { font-size: 19px; font-weight: 100; vertical-align: top; }
.package-price > span { color: #505050; display: block; font-size: 14px; text-align: center; }
.pricing-box > ul { list-style: inside none disc; margin: 30px auto; overflow: hidden; width: 565px; }
.pricing-box li { border-bottom: 1px solid #f1f3f5; color: #505050; float: left; font-size: 13px; margin: 5px 15px; padding: 5px 0; text-align: left; width: 250px; }
.features { background: #f1f3f5 none repeat scroll 0 0; padding: 45px 0 20px; }
.features-slider { color:#505050; }
.features .owl-controls .owl-page span { background:#afafaf }
.features .owl-controls .owl-page.active span { background:#005aab }
.testimonials { background:url("img/banners/testimonials.jpg") no-repeat fixed 0/cover; height:460px; position:relative; }
.testimonials-slider { height: 460px; padding: 115px 210px 0; }
.testimonials-slider h3 { color: #fff; font-size: 15px; font-weight: 700; padding: 10px 0; text-transform:uppercase; position: relative; text-align: center; }
.testimonials-slider h3::after {
 background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
 content: "";
 display: block;
 height: 2px;
 margin: 15px auto;
 text-align: center;
 width: 160px;
}
.testimonials-slider p { font-size:24px; color:#fff; font-weight:700; text-transform:uppercase }
.testimonials-slider .owl-prev, .testimonials-slider .owl-next { background: rgba(0, 0, 0, 0) url("img/ico/arrows_lg_thin.png") no-repeat scroll 0 0; display: block; height: 50px; left: 0; position: absolute; text-indent: -9999em; width: 30px; top:50%; margin-top:-25px; }
.testimonials .owl-pagination { position:absolute; left:0; bottom:30px; width:100%; text-align:center }
.testimonials-slider .owl-next { background-position:right 0; right:0; left:auto }
.testimonials .owl-theme .owl-controls .owl-page.active span { background:#fff; }
.blue-circle { background: #005aab none repeat scroll 0 0; border-radius: 100%; display: inline-block; height: 100px; line-height: 130px; margin: 15px 30px; text-align: center; width: 100px;padding-top: 26px }
.blue-circle:hover { background:#ed1c25 }
.numbers-section { background:#f1f3f5; padding:45px 0 60px }
.numbers-section h3 { color: #005aab; font-size: 18px; font-weight: 700; padding: 10px 0; text-transform:uppercase; position: relative; text-align: center; }
.numbers-section h3::after {
 background: #afafaf;
 content: "";
 display: block;
 height: 2px;
 margin: 15px auto;
 text-align: center;
 width: 160px;
}
.numbers-section h2 { font-size:38px; color:#005aab; font-weight:700; text-transform:uppercase }
.number-box h2 { font-size:50px; font-weight:100; color:#ed1c24; padding-bottom:5px; }
.number-box h5 { color:#4b4b4b; padding-bottom:5px; }
.dealers-section { padding:45px 0 30px }
.dealers-section h3 { color: #005aab; font-size: 22px; font-weight: 700; padding: 10px 0; text-transform:uppercase; position: relative; text-align: center; }
.dealers-section h3::after {
 background: #f1f3f5;
 content: "";
 display: block;
 height: 2px;
 margin: 15px auto;
 text-align: center;
 width: 160px;
}
.dealers-section h2 { font-size:32px; color:#005aab; font-weight:700; text-transform:uppercase }
.points-section h3 { color: #005aab; font-size: 18px; font-weight: 700; padding: 10px 0; text-transform:uppercase; position: relative; text-align: center; }
.points-section h3::after {
 background: #f1f3f5;
 content: "";
 display: block;
 height: 2px;
 margin: 15px auto;
 text-align: center;
 width: 160px;
}
.points-section h2 { font-size:38px; color:#005aab; font-weight:700; text-transform:uppercase }
.points-section ul { list-style:none }
.points-section .blue-circle { color: #fff; float: left; font-size: 22px; font-style: normal; height: 50px; line-height: 47px; margin: 0 30px 0 0; width: 50px; }
.point-text { overflow:hidden; color:#4b4b4b; font-size:14px; }
.point-text h4 { font-size:18px; font-weight:700; padding-bottom:5px; }
.point-text p { font-size:14px; font-family:Arial, Helvetica, sans-serif }
.points-list li { height:150px; padding-top:30px; padding-bottom:30px }
.content-section { padding:30px 0; background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 61%, rgba(238, 241, 242, 1) 98%, rgba(237, 240, 241, 1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(61%, rgba(255, 255, 255, 0)), color-stop(98%, rgba(238, 241, 242, 1)), color-stop(100%, rgba(237, 240, 241, 1))); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 61%, rgba(238, 241, 242, 1) 98%, rgba(237, 240, 241, 1) 100%); background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 61%, rgba(238, 241, 242, 1) 98%, rgba(237, 240, 241, 1) 100%); background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 61%, rgba(238, 241, 242, 1) 98%, rgba(237, 240, 241, 1) 100%); background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 61%, rgba(238, 241, 242, 1) 98%, rgba(237, 240, 241, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#edf0f1', GradientType=0 );
}
.random-cars-slider a { display:block; position:relative; margin:5px; }
.random-cars-slider .car-location { display:block; padding:15px; position:absolute; bottom:0; left:0; font-size:14px; font-weight:700; color:#fff; }
.random-cars-slider .car-location i { color: #e92430; font-size: 23px; vertical-align: middle; }
.random-cars h5 { text-transform:uppercase; padding-top:30px }
.zoom-effect { overflow:hidden; }
.zoom-effect img { -webkit-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -ms-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; background:#ed1c25 }
.zoom-effect img:hover { -webkit-transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); -ms-transform: scale(1.2, 1.2); -o-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2); opacity: 0.7; }
.featured-cars { position:relative; }
.featured-cars-item { border:1px solid #ddd; }
.featured-cars-item:hover { border:1px solid #ed1c25 }
.featured-cars .owl-prev, .featured-cars .owl-next { background: rgba(0, 0, 0, 0) url("img/ico/arrows_sm_thin.png") no-repeat scroll 0 0; display: inline-block; height: 14px; text-indent: -9999em; width: 14px; }
.featured-cars .owl-next { background-position:right 0; }
.featured-cars .owl-pagination { display:none }
.featured-cars .owl-buttons { position: absolute; right: 30px; top: -35px; }
.from-dealer { position:relative; padding:20px; border:4px solid #ddd }
.othercars { position:relative; }
.othercars .owl-prev, .othercars .owl-next { background: rgba(0, 0, 0, 0) url("img/ico/arrows_sm_thin_gray.png") no-repeat scroll 0 0; display: inline-block; height: 16px; text-indent: -9999em; width: 16px; }
.othercars .owl-next { background-position:right 0; }
.othercars .owl-pagination { display:none }
.othercars .owl-buttons { position: absolute; right: 30px; top: -35px; }
.dealers-slider { width:86%; margin:0 auto }
.dealers-slider a { margin:10px; display:block }
.dealers-slider .owl-pagination { display:none }
.dealers-slider .owl-prev, .dealers-slider .owl-next { background: rgba(0, 0, 0, 0) url("img/ico/arrows_lg_thin_gray.png") no-repeat scroll 0 0; display: block; height: 50px; left:-40px; position: absolute; text-indent: -9999em; width: 30px; top:50%; margin-top:-25px; }
.dealers-slider .owl-pagination { position:absolute; left:-40px; bottom:30px; width:100%; text-align:center }
.dealers-slider .owl-next { background-position:right 0; right:-40px; left:auto }
.register-welcome { list-style:none; }
.register-welcome li { display: inline-block; float: left; font-size: 12px; margin: 10px; text-align: center; width: 85px; }
.register-welcome .ico { display: block; margin: 0 auto 13px; }
.search-area .collapse-bar { border-color:#005aab }
.search-overlay { position:absolute; left:0; width:100%; z-index:50; top:30px; background:#fff }
.hide-search-overlay, .show-search-overlay { background: #005aab; color: #fff; display: block; font-size: 45px; height: 65px; margin-right: -65px; position: absolute; right: 0; text-align: center; width: 65px; }
.show-search-overlay { margin-right:0; left:0; z-index: 50; }
.hide-search-overlay i { line-height: 65px; }
.search-options { background: rgba(0, 0, 0, 0) url("img/search_bg.jpg") no-repeat scroll center center; height: 398px; padding: 50px 150px; overflow:hidden; }
.search-option-head { margin-left: 50px; position: relative; }
.search-option-head .fa { color: #fff; font-size: 40px; left: -50px; position: absolute; top: -10px; }
.search-btns { list-style:none }
.search-btns li { padding:4px 0 }
.search-btns li a { display:block; font-size:12px; font-weight:700; border:2px solid #fff; background:rgba(0, 0, 0, 0.4); line-height:30px; text-align:center; color:#fff; }
.search-btns li a.active { border:2px solid #ea2231; background:#ea2231; }
.search-option-head h1 { color: #fff; font-size: 26px; font-weight: 700; text-transform: uppercase; }
.search-option-head h3 { border-bottom: 1px solid #d3dfe5; color: #fff; font-size: 12px; padding: 5px 0 15px; }
.search-options > h3 { border: medium none; color: #fff; font-size: 18px; font-weight: 700; margin: 0 0 5px; padding: 25px 0 0; text-transform: uppercase; }
.brands-content { padding:10px; border:4px solid #ebf0f4; }
.brands-head { display:block; width:100% }
.brands-head .items-filter { list-style:none }
.brands-head .items-filter li { display:inline; float:left }
.brands-head .items-filter a { display:block; padding:5px 30px; border-bottom:10px solid #005aab; font-size:12px; color:#005aab }
.brands-list td { border-bottom:2px solid #ccc; height:130px }
.brands-list h3 { font-size:18px; }
.brands-list tr:last-child td { border-bottom:2px solid #fff; }
.brands-head .view-options { list-style: outside none none; }
.view-options > li { display: inline; float: left; padding: 2px 5px; }
.view-options > li a { color: #cfd0d2; font-size: 25px; }
.view-options > li a.active { color: #005aab; }
/*star-rating */
.star-rating { font-size:20px; }
.star-rating .inactive { color:#dee2e7; }
/*comparison-slider*/
.comparison-items { width:100%; display:block }
.comparison-slider { width:495px }
.comparison-slider img { display:block; margin:0 auto }
.comparison-items .checkbox { margin-left:50px }
.comparison-items label { color:#393939; font-size:11px; }
.comparison-slider .owl-prev, .comparison-slider .owl-next { background: rgba(0, 0, 0, 0) url("img/ico/arrows_sm_thin_gray.png") no-repeat scroll 0 0; display: inline-block; height: 16px; text-indent: -9999em; width: 16px; position:absolute; left:-25px; top:50%; margin-top:-30px; z-index:20 }
.comparison-slider .owl-next { background-position:right 0; right:-25px; left:auto }
.comparison-slider .owl-pagination { display:none }
.comparison-table { margin-top:-10px; border-bottom:1px solid #a8b1b8; }
.comparison-table th, .comparison-table td { vertical-align:top; font-weight:100; font-size:11px; color:#393939; border-collapse:collapse; border-right:1px solid #a8b1b8; padding:10px; }
.comparison-table a { color:#393939; }
.comparison-table th { text-align:left }
.comparison-table td { width:165px; text-align:center }
.comparison-table tr:nth-child(even) td, .comparison-table tr:nth-child(even) th {
 background: #f1f2f2;
}
.standard-features { margin-left: 15px; text-align: left; }
.standard-features > li { color: #005aab; padding: 2px 0; }
.standard-features li span { color: #000; }
.side-widget { border-top:10px solid #c7110c; margin-top:15px; margin-bottom:15px }
.side-widget-wrap { border:4px solid #ebf0f4; border-top:none; padding:10px 0 }
.side-widget h2 { font-size:16px; padding-bottom:10px; border-bottom:1px solid #cfdce5; margin:0 10px }
.side-widget h4 { font-size:15px; }
.cars-map { position:relative }
.marker-lg { background: rgba(0, 0, 0, 0) url("img/marker_lg.png") no-repeat scroll 0 0; color: #fff; display: block; font-size: 27px; font-weight: 700; height: 92px; line-height: 22px; padding-top: 19px; text-align: center; width: 81px; z-index: 500; margin:10px auto; }
.marker-lg em { display: block; font-size: 13px; font-style: normal; padding: 5px; }
.marker { background: rgba(0, 0, 0, 0) url("img/marker.png") no-repeat scroll 0 0; color: #fff; display: block; font-size: 18px; font-weight: 700; height: 73px; line-height: 57px; position: absolute; text-align: center; width: 62px; z-index: 500; }
.google-maps-container { height:1900px; position:relative; }
.google-maps { height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
.cars-map .search-area { background: #fff none repeat scroll 0 0; border: medium none; left: 0; padding:0 40px; width: 100%; z-index: 100; }
.map-search .collapse-bar { border: medium none; margin: 0; min-height: auto; padding: 0; }
.map-search .head-bar h4 { font-size: 20px; font-weight: 700; text-transform: uppercase; }
.map-search .head-bar h3 { border-bottom:2px solid #a7cee8; padding-bottom:5px; margin-bottom:20px }
.map-search .search-toggle { border: 3px solid #ebf0f4; font-weight: 700; line-height: 40px; }
.map-search .search-toggle i { font-size:22px; font-weight:700 }
.tabs-popup { border: 5px solid #ebf0f4; position: absolute; /* right: 35px;*/ width: 320px; z-index:500; background:#fff; }
.tabs-popup .tab-buttons { width:100%; list-style:none }
.tabs-popup .tab-buttons li { width:50%; text-align:center; float:left }
.tabs-popup .tab-buttons li:first-child { border-right: 5px solid #ebf0f4; }
.tabs-popup .tab-buttons li a { background:#005aab; color:#fff; font-size:12px; display:block; line-height:30px; border-bottom:5px solid #ebf0f4; }
.tabs-popup li.active a { background:#fff; color:#727272; font-size:12px; border-bottom:5px solid #fff; }
.sm-caritem { padding:10px 15px; border:2px solid #fff; }
.sm-caritem:hover, .sm-caritem.active { border:2px solid #ea3240; }
.sm-caritem h6 { font-size:13px; }
.sm-caritem h4 { font-size:18px; }
.sm-caritem .btn-default { background:#666464; border-color:#666464 }
.sm-dealership { padding:20px; }
.tabs-popup .arrow-down { border-left: 30px solid transparent; border-right: 30px solid transparent; border-top: 30px solid #ebf0f4; bottom: -30px; content: " "; height: 0; left: 50%; margin-left: -12px; position: absolute; width: 30px; }
 .tabs-popup .arrow-down::after {
 border-left: 30px solid transparent;
 border-right: 30px solid transparent;
 border-top: 30px solid #fff;
 bottom: 8px;
 content: " ";
 height: 0;
 left: -30px;
 position: absolute;
 width: 30px;
}
.sm-dealership .btn { font-size:13px; padding:10px 0 }
.location-form { color:#fff; }
.location-form a { color:#fff; font-size:14px; }
.location-form .input { padding-bottom:0 }
.location-form input { padding:10px; }
.loading_bar_1 { position: fixed; height: 100%; left: 0; top: 0; width: 100%; background: transparent url(img/301.png) no-repeat 50% 50%; }
.review-check { font-size: 12px; height: 35px; margin: 0 auto; overflow: hidden; position: relative; text-align: center; width: 115px; }
.review-check > a { background: #ddd none repeat scroll 0 0; color: #fff; display: block; float: left; line-height: 35px; text-transform: uppercase; width: 50%; }
.review-check > a.active { background:#1674c8; }
.pac-container { z-index: 1500; }
/*popups*/
.msg-popup { position:absolute; padding:40px 60px; border:3px solid #005aab; background:#fff; z-index:300; width:630px; margin-left:-315px; left:50% }
.msg-popup .submit .btn { min-width:250px; margin-top:10px; border-radius:6px; }
.msg-popup h2 { color:#005aab; font-size:24px; font-weight:700; margin-bottom:15px; }
.msg-popup h4 { font-size:20px; }
.msg-popup a.close-modal { background: #ebf0f4 none repeat scroll 0 0; color: #9ea4a9; display: block; font-size: 20px; height: 30px; line-height: 27px; position: absolute; right: 10px; text-align: center; top: 10px; width: 30px; cursor:pointer }
.msg-popup a:hover.close-reveal-modal { background: #ebf0f4; color: #000; }
.form-row { border-bottom: 1px solid #000; padding-bottom: 25px; padding-top: 25px; }
.form-row h4 { font-size:20px; color:#6f6f6f }
.form-row input { border: medium none; font-size: 12px; padding: 8px; width: 100%; }
.sm-editor { margin-top:30px; }
.editor-bar a { display: inline-block; font-size: 18px; padding: 0 6px; }
.editor-bar a .fa { font-size:12px; }
.ed-txt-color::after {
 background: #000 none repeat scroll 0 0;
 content: "";
 display: block;
 height: 3px;
 line-height: 10px;
 width: 10px;
}
.msg-text { border:1px solid #000; padding:25px; color:#000; margin-top:10px; width:100%; height:226px; font-size:12px; font-family:Verdana, Geneva, sans-serif; }
.attachment-list { margin-top:10px; }
.attachment-list a { background:#f1f2f2; padding:10px 15px; font-size:12px; color:#000; display:inline-block; }
.attachment-list span { color: #9ea4a9; font-size: 18px; line-height: 11px; padding-left: 10px; vertical-align: middle; }
.editor-bar a.ed-txt-color { font-size: 15px; line-height: 14px; }
.original-msg { background:#f5f5f5; padding:20px }
.msg-actions { padding: 20px 0; }
.msg-actions ul { display: table; list-style: outside none none; position: relative; width: 100%; }
.msg-actions li { border: 2px solid #fff; display: table-cell; min-width: 80px; text-align: center; vertical-align: middle; }
.msg-actions li a { background: #ebf0f4 none repeat scroll 0 0; color: #040302; display: block; font-size: 10px; height: 60px; padding: 8px; }
.msg-actions li a span { background: rgba(0, 0, 0, 0) url("img/ico/msg_nav.png") no-repeat scroll 0 0; display: block; height: 20px; margin: 5px auto; width: 20px; }
.new-msg-ico { background-position:0 0; }
.msg-actions .rep-msg-ico { background-position:-86px 0; }
.msg-actions .frw-msg-ico { background-position:-171px 0; }
.msg-actions .del-msg-ico { background-position:-256px 0; }
.msg-actions .rep-msg-ico { background-position:-256px 0; }
.msg-actions .unread-msg-ico { background-position: -338px 0; width: 30px; }
.msg-actions .read-msg-ico { background-position: -422px 0; width: 30px; }
/*popup forms*/
.pop-form-group h3 { font-size:20px; }
.pop-form-group input, .pop-form-group textarea { border-color:#000 }
.dealer-staff { border-bottom: 1px solid #000; margin-bottom: 35px; padding-bottom: 20px; }
.dealer-staff > h3 { font-size:20px; padding:20px 0 }
.staff-box h3 { font-size:13px; color:#4c4d4d; }
.offer-form input { background: #e5e9ed none repeat scroll 0 0; border: medium none; color: #3e3e3e; font-size: 24px; font-weight: 700; height: 65px; text-align: center; width: 100%; }
.offer-form label { display: block; padding: 15px 0; }
.dealer-info ul { list-style:none; margin:15px }
.dealer-info ul li { padding:8px; }
.dealer-info ul li a i { color:#c7110c; font-size:21px; margin:0 15px; vertical-align:middle }
.dealer-info ul a { color:#333 }
.dealer-contact { border-top:5px solid #ebf0f4; padding-top:10px; }
.dealer-contact .input { padding-bottom:0 }
.dealer-contact .input input { border-color:#000 }
.search-box-section { padding:20px; border:4px solid #ebf0f4 }
.dealer-search .search-area { border:none; padding:0 }
.reviews-box { border:1px solid #cbd0d4; margin-top:50px; }
.reviews-box > h3 { background:#c7110c; padding:8px 0; text-align:center; font-size:12px; font-weight:700; display:block; position:relative; margin:-1px }
.reviews-box > h3 a { color:#fff; }
.reviews-box td { padding:10px; }
.quicknav-sep { padding:0 5px; color:#c7110c; }
.car-thumbs { display: block; height: 180px; overflow: hidden; width: 184px; }
.car-thumbs a { float:left; border:1px solid #fff; }
.car-thumbs a img { display:block }
.car-thumbs a:hover { border:1px solid #c7110c; }
.car-tabs .tab-buttons { display: table; position: relative; width: 100%; }
.car-tabs > .tab-buttons .tab-btn { cursor: pointer; display: table-cell; position: relative; text-align: center; transition: all 300ms ease 0s; }
.car-tabs >.tab-buttons a { color:#a8b1b8; font-weight:700; font-size:11px; display:block; line-height:30px; border:1px solid transparent; }
.car-tabs > .tab-buttons .tab-btn.active a { border:1px solid #c7110c; color:#000 }
.car-tabs .tabs-box { padding:20px 0; }
.features-table th, .features-table td { vertical-align:top; font-weight:100; font-size:11px; color:#393939; border-collapse:collapse; padding:10px 20px; }
.features-table a { color:#393939; }
.features-table th { text-align:left }
.features-table td { text-align:right }
.features-table tr:nth-child(even) td, .features-table tr:nth-child(even) th {
 background: #f1f2f2;
}
.car-tabs .title-bar { margin-bottom:10px }
.car-tabs .standard-features > li { font-size:11px; color:#c7110c }
.video-slider { width:460px; margin:20px auto; }
.video-carousel li { margin-right:10px; }
.side-car-actions { margin-top:140px; }
.social-fb, .social-tw, .social-g, .social-e { background:url(img/ico/social_ico.png) no-repeat; height:40px; width:40px; display:inline-block; margin-right:5px; vertical-align:middle }
.social-tw { background-position:0 -53px }
.social-g { background-position:0 -104px }
.social-e { background-position:0 -157px }
.side-social ul { list-style:none; margin:15px 0 }
.side-social ul li { padding:5px 0; }
.side-social ul li a { color:#090909; font-size:11px; }
.dealer-staff { padding:60px 25px; }
.dealer-staff>h4 { padding-bottom:35px; font-size:16px; }
.staff-box { width:136px; }
.staff-box img { margin-bottom:20px; display:block }
.staff-box h3, .staff-box p { font-size:13px; color:#4c4d4d; padding-bottom:6px; }
.map-locator { margin:30px 0 }
.map-locator label { line-height:39px; font-size:16px; width:265px; }
.map-locator input { height:39px; width:302px; }
.map-locator button { width:160px; margin-left:15px; }
.map-actions { display: block; padding: 20px 0; width: 100%; }
.map-actions .btn { min-width:160px; text-align:center; margin-right:10px; float:left }
.map-actions ul { margin: 0; }
.map-actions h5 { font-size: 14px; line-height: 40px; margin: 0; padding: 0 10px; }
.location-row { padding:10px 20px; color:#000 }
.location-row h3 { font-size:12px; padding-bottom:5px }
.location-row table { margin-bottom:10px }
.location-row:nth-child(odd) {
background:#f1f2f2
}
.location-row .location-more { display:none }
.location-row.row-opened .location-more { display:block }
.location-row.row-opened .switcher { background-position:0 -13px }
.location-row.row-opened .location-address { display:none }
.primary-service { background:#efefef; }
.primary-service td { padding:40px 20px; color:#393939; }
.primary-service .price-lg h2 { font-size:41px; color:#c7110c; }
.primary-service .price-lg h4 { font-size:29px; color:#c7110c; }
.primary-service .price-md h2 { font-size:31px; color:#c7110c; }
.primary-service-features td { padding:20px }
.list-check { list-style:none }
.list-check li { background: rgba(0, 0, 0, 0) url("img/ico/list_check.png") no-repeat scroll left 2px; line-height: 18px; margin: 15px; padding-left: 40px; }
.service-form { border: 4px solid #ebf0f4; padding: 20px; }
.service-form h3.title-bar { margin-bottom:10px; padding-left:0; font-size:16px }
.service-form textarea { height:70px; }
.service-form .btn { min-width:170px; margin-top:35px }
/*dealer-box*/
.dealer-box { border:5px solid #dadee1; padding:2px; margin:10px 0 }
.dealer-box .dealer-details { padding-bottom:0; padding-right: 10px; padding-top: 20px; }
.dealer-sort-bar { padding: 10px 40px; }
.dealer-sort-bar h2 { font-size: 16px; font-weight: 700; line-height: 34px; padding: 10px 0; }
.sort-results > span { display: inline-block; font-size: 15px; font-weight: 700; line-height: 34px; padding: 10px 15px; }
.sort-results .select { min-width: 185px; }
.scroll.map-scroll { max-height: 1300px; overflow: auto; }
.dealer-login .two-headers { padding-bottom: 60px; padding-top: 70px; }
.two-headers h3 { color: #fff; font-size:20px; font-weight: 700; padding: 10px 0; text-transform:uppercase; position: relative; text-align: center; }
.two-headers h3::after {
 background: #fff;
 content: "";
 display: block;
 height: 2px;
 margin: 15px auto;
 text-align: center;
 width: 160px;
}
.two-headers h2 { font-size:34px; color:#fff; font-weight:700; text-transform:uppercase; padding:0 }
.dealer-login .login-box { min-height:325px }
.register-wrap { padding:0 30px; text-align:left; color:#000; font-size:12px }
.login-btns .btn-default { width:100%; text-align:center; margin-bottom:8px; display:block }
