h3 { font-size:25px; }
.content { min-height:800px; }
/*Headers*/
.dealer-header { padding:20px 0 }
.dealer-header .slogan { padding: 0 20px; font-size:17px; }
.login-as { color:#9ea4a9 }
.dealer-header .slogan { padding-top:5px }
.dealer-header .login-as { padding: 10px 30px 0; }
/*Dealer-nav*/
.dealer-nav { padding:10px 0; position:relative; z-index:50 }
.dealer-nav ul { list-style:none; }
.dealer-nav .main-nav > li { width:109px; float:left; }
.dealer-nav .main-nav > li > a { background: #393939; border: 2px solid #fff; color: #fff; display: block; font-size: 12px; height: 115px; padding: 20px 0 0; text-align: center; }
.dealer-nav .main-nav > li > a:hover, .dealer-nav .main-nav > li > a.active { background:#c7110c; }
.dealer-nav li a.profile-state, .dealer-nav li a:hover.profile-state { background:#e5e9ed; color:#010101; padding-top:5px; height:115px }
.main-nav li > .sub-nav { display:none }
.main-nav li:hover > .sub-nav { left:10px; display:block }
.dealer-nav .sub-nav { left: 10px; position: absolute; }
.dealer-nav .sub-nav li { display: inline-block; float: left; min-width: 102px; }
.dealer-nav .sub-nav li.item-x1 { width: 109px; }
.dealer-nav .sub-nav li.item-x2 { width: 218px; }
.dealer-nav .sub-nav li.item-x3 { width: 327px; }
.dealer-nav .sub-nav a { background: #e5e9ed; border: 2px solid #fff; color: #010101; display: block; line-height: 40px; padding: 0 10px; text-align: left; white-space:nowrap }
.dealer-nav .sub-nav a:hover { background:#999; color:#fff; }
.dealer-nav .nav-text { display: table-cell; height: 30px; padding: 5px 8px; text-align: center; vertical-align: bottom; width: 106px; }
.dealer-ico { background: url('img/ico/dealer_nav.png') no-repeat top left; width: 45px; height: 43px; display:block; margin:0 auto 6px }
.dealer-ico.ico-01 { background-position: 0 0; }
.dealer-ico.ico-02 { background-position: -75px 0; width: 50px; }
.dealer-ico.ico-03 { background-position: -155px 0; width: 44px; }
.dealer-ico.ico-04 { background-position: -229px 0; width: 47px; }
.dealer-ico.ico-05 { background-position: -306px 0; width: 43px; }
.dealer-ico.ico-06 { background-position: -379px 0; width: 48px; }
.dealer-ico.ico-07 { background-position: -457px 0; width: 41px; }
.dealer-ico.ico-08 { background-position: -528px 0; }
.dealer-ico.ico-09 { background-position: -603px 0; width: 51px; }
.dealer-ico.ico-10 { background-position: -696px 0; width: 51px; }
.dealer-ico.ico-11 { background-position: -782px 0; width: 55px; }
.dealer-nav .sub-nav li .profile-state { padding-top:10px; height:80px; }
#profile-state { display:block; margin:0 auto 5px }
.circliful { position: relative; font-size:11px; }
.circle-text, .circle-info, .circle-text-half, .circle-info-half { width: 100%; position: absolute; text-align: center; display: inline-block; }
.circle-info, .circle-info-half { color: #999; }
.circliful .fa { margin: -10px 3px 0 3px; position: relative; bottom: 4px; }
.select-toggle { position:relative; z-index:20 }
.select-toggle .dropdown-toggle { background: #e5e9ed none repeat scroll 0 0; border: 2px solid #fff; display: block; line-height: 10px; padding: 15px 10px; z-index:20; color:#393939 }
.select-toggle a.dropdown-toggle:hover { background:#999; color:#fff; }
.select-toggle .dropdown { display:none; position:absolute; }
.select-toggle .dropdown > li { border-bottom: 1px solid #fff; display: block; margin: 0 3px; }
.select-toggle .dropdown > li a { background: #5a5d60 none repeat scroll 0 0; color: #fff; display: block; padding: 12px 10px; }
.select-toggle .dropdown > li a.higlighted { background: #38c656 none repeat scroll 0 0; color: #000; }
/*filters*/
.filter-ico { background: rgba(0, 0, 0, 0) url("img/ico/filter.png") no-repeat scroll left center; display: block; font-size: 14px; line-height: 24px; padding-left: 30px; position: absolute; right: 0; text-transform: uppercase; top: -30px; }
#filter { display: block; margin-bottom: 15px; position: relative; }
#filter > form { background: #f7f8fa none repeat scroll 0 0; clear: both; margin: 15px 0 0; overflow: hidden; padding: 15px; }
#filter .input { float: left; margin: 10px; width: 170px; }
#filterform label { font-size:13px; margin-top:5px; }
#FilterClear { display:inline-block; margin-left:5px; }
.filter-action { overflow: hidden; padding-top: 54px; width: 202px; }
.filter-action input { float: left; font-weight: 400; }
/*Uplaod Boxs*/
.upload-boxs { list-style: outside none none; margin: 0 -5px; overflow: hidden; }
.upload-boxs ul { list-style:none }
.upload-boxs > li { float: left; margin: 10px 5px; }
.upload-box { background: #e5e9ed; color: #d0d4d8; font-size: 26px; height: 85px; line-height: 85px; position: relative; text-align: center; width: 100%; min-width:85px; cursor:pointer; background: #e5e9ed none repeat scroll 100% 100% / cover ; }
.new-record { background:#38c656; color:#fff; }
.new-record a { display: block; width: 100%; }
.uploadbox-btns { bottom: 0; float: right; line-height: normal; position: absolute; right: 0; z-index: 200; }
.upload-box .btn { float: left; line-height: 20px; margin: 0 1px; padding: 5px; }
.upload-box .file-name { background: #f00 none repeat scroll 0 0; bottom: 0; font-size: 10px; left: 0; line-height: normal; position: absolute; top: 0; }
.upload-box > input { height: 100%; left: 0; opacity: 0; position: absolute; width: 100%; top:0; cursor:pointer }
.upload-boxs .radio { font-size: 10px; padding: 10px 0; text-align: center; }
.upload-boxs .radio label { padding-top:5px; display:block }
.many { list-style:none }
.record { position: relative; }
.record .delete { font-size: 20px; left: -150px; opacity: 0; padding: 10px; position: absolute; top: 0; }
.record:hover .delete { left: -36px; opacity: 1; }
.record h5 { font-size:18px; }
/*listboxswap*/
.listboxswap { color:#000; }
.listboxswap { margin: 0 0 20px; }
.listboxswap .source_wrapper, .listboxswap .listbox_controls, .listboxswap .destination_wrapper { float:left; }
.listboxswap .source_wrapper, .listboxswap .destination_wrapper { width:350px; overflow:hidden; }
.listboxswap .listbox_controls { margin: 50px; width: 240px; }
.listboxswap .listbox_search { border-color: #ccc; border-style: solid; border-width: 1px 1px 0; padding: 5px 10px; color:#999; position:relative; }
.listboxswap .listbox_search input { width: 100%; color:#999; border:none; font-size: 12px; }
.listboxswap .listbox_search span.clear:before { content:"\00d7"; }
.listboxswap .listbox_search span.clear { display: block; margin: 4px 10px; position: absolute; right: 0; top: 0; cursor:pointer; color:#ccc; }
.listboxswap .source_wrapper ul, .listboxswap .destination_wrapper ul { margin:0; padding:0; list-style:none; border-color: #ccc; border-radius: 0 0 2px 2px; border-style: solid; border-width: 1px; overflow:hidden; }
.listboxswap ul.listbox_round_class { border-radius: 2px; }
.listboxswap .listbox_search.listbox_round_class { border-radius: 2px 2px 0 0; }
.listboxswap .listbox_option { cursor: pointer; width:100%; }
.listboxswap .listbox_option span { padding: 5px 10px; display:block; }
.listboxswap ul li.listbox_option:hover { background:#e2e4e6; }
.listboxswap ul li.listbox_option.selected { background:#c7110c; color:#fff; }
.listboxswap .listbox_controls ul { list-style: none outside none; margin: 35px 0 0 0; padding: 0; }
.listboxswap .listbox_controls ul li { cursor: pointer; margin: 0 0 10px; padding: 5px 10px; text-align: left; overflow:hidden; }
.listboxswap .source_wrapper p, .listboxswap .destination_wrapper p { font-size:13px; padding:8px 0 }
.listboxswap .listbox_clear { clear:both; }
.listboxswap .truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.add .arrow:after, .remove .arrow:after { background: #e2e4e6; border-radius: 50px; color: #9ea4a9; display: inline-block; font-size: 21px; height: 35px; line-height: 34px; margin-right: 10px; text-align: center; width: 35px; }
.add .arrow:after { content: "+" }
.remove .arrow:after { content: "-" }
/*dealer-account*/
.dealer-account .data-table td { padding:8px 0; text-transform:uppercase; }
.faq-search { padding:35px; background:#e5e9ed; margin:30px 0 60px }
.search-box { background:#FFF; width:790px }
.faq-search input { border: medium none; color: #000; float: left; font-size:25px; height: 70px; padding: 15px 0; width: calc(100% - 80px); }
.faq-search .search-ico { background: rgba(0, 0, 0, 0) url("img/ico/search_lg_dark.png") no-repeat scroll center center; float: left; height: 70px; width: 80px; }
.faq-search .btn { width:180px; height:70px; float:right; border:2px solid #c7110c; background:#fff; color:#000; font-size:25px }
.video-grid { padding:70px 0 }
.templates-list { list-style:none }
.template-box { padding:15px; background:#e5e9ed; height:330px; margin-bottom:10px; }
.manual-box { padding:20px 0 40px; font-size:14px; }
.manual-box a { text-decoration:underline; color:#c7110c; }
.submit { margin-top:15px; }
.submit button { min-width:350px; padding:12px 20px; text-align:center; background:#c7110c; color:#fff; }
.small-actions { list-style:none }
.small-actions li { display:inline; float:left; padding:13px 3px; }
.small-actions li a { color:#040302; font-size:12px; }
.sm-action .ico { background:url(img/ico/small_actions_ico.png) no-repeat; height:14px; width:14px; display:inline-block; vertical-align:middle; }
.sm-action .new-msg { background-position:0 0 }
.sm-action .rep-msg { background-position:-70px 0 }
.sm-action .frw-msg { background-position:-145px 0 }
.sm-action .del-msg { background-position:-240px -1px }
.sm-action .unread-msg { background-position:-322px -1px }
.sm-action .read-msg { background-position:-460px 0 }
.thumbs-up { background:url(img/ico/thumbs_up.png) no-repeat 0 -42px; height:19px; width:19px; display:block; text-indent:-9999em; margin:0 auto }
.thumbs-up.active { background-position:0 0 }
.quick-finder input { width:240px; }
.car-attachment { padding:35px 110px; background:#ebf0f4; margin:45px 0 30px }
.car-attachment .listing-box-primary { background:#fff; padding:35px; border:none; margin:0 }
.working-hours .textarea textarea { height:85px; }
.upload-progress { color: #686e73; font-size:14px; }
.progress-bar { background: #e0e2e3 none repeat scroll 0 0; height: 10px; margin-bottom: 3px; }
.progress-bar .percent { background: #c7110c none repeat scroll 0 0; height: 10px; }
