.holder { margin: 15px 0; text-align:center }
.holder a { font-size: 14px; cursor: pointer; font-weight:700; color: #465f75; display:inline-block; background:#dce8e7; padding:10px; border-right:1px solid #fff; text-transform:uppercase; }
.holder a:last-child { }
.holder a:hover { background-color: #c6d7db; color: #465f75; }
.holder a.jp-previous { margin-right: 10px; border-radius:4px; }
.holder a.jp-next { margin-left: 10px; border-radius:4px; }
.holder a.jp-current, a.jp-current:hover { color: #FF4242; font-weight: bold; }
.holder a.jp-disabled, a.jp-disabled:hover { color: #657b8e; }
.holder a.jp-current, a.jp-current:hover { cursor: default; color:#fff; background: #ff6c21; }
.holder span { margin: 0 5px; }
