/*COLORS STYLING*/
.listing-bar, .btn-danger, .search-tabs .checkedRadio i, .map-caption, .range-bordered .irs-line, .badge, .owl-theme .owl-controls .owl-page span, .search-tabs .tab-buttons .tab-btn { background-color:#c7110c; }
.range-bordered .irs-slider, .filters .tab-buttons, .btn-danger, .listing-box-head, .sm-search, .mega-search { border-color:#c7110c }
.sm-search input, .sm-search .search-ico, .mega-search, .mega-search input, .from-dealer h5 { color:#c7110c }
/*MicroSite*/
body { color:#393939 }
.dealer-rating { border-left:1px solid #333 }
.dealer-rating a { color:#005aab }
.site-nav { background:#c7110c; margin-bottom:35px; }
.site-nav ul { list-style:none }
.site-nav ul li { display:inline-block }
.site-nav ul li a { display:block; padding:0 20px; line-height:35px; color:#fff; font-size:13px; }
.site-nav ul li a:hover { background:rgba(255, 255, 255, 0.2) }
.banner { max-height:200px; }
.banner img { display:block; width:100%; max-width:100%; }
.banner .logo { background: #fff none repeat scroll 0 0; display: table; height: 140px; left: 0; padding: 0 30px; position: absolute; top: 25px; vertical-align: middle; }
.banner .logo > a { display: table-cell; vertical-align: middle; }
