/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2015, 1:24:15 PM
    Author     : mohammed
*/
.loading_bar_1 {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent url(img/301.png) no-repeat 50% 50%; 
}
.side-list li a.active { background:#e3e3e3 }
.marker { background: rgba(0, 0, 0, 0) url("img/marker.png") no-repeat scroll 0 0; color: #fff; display: block; font-size: 18px; font-weight: 700; height: 73px; line-height: 57px; position: absolute; text-align: center; width: 62px; z-index: 500; /*right:500px*/ }
.pac-container{z-index: 1500;}