.reveal-modal-bg { position: fixed; height: 100%; width: 100%; background: #000; background: rgba(0, 0, 0, .8); z-index: 1000; display: none; top: 0; left: 0; }
.reveal-modal { visibility: hidden; top: 100px; left: 50%; margin-left: -310px; width: 620px; background: #fff; position: absolute; z-index: 1001; padding: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
.reveal-modal.small { width: 200px; margin-left: -140px; }
.reveal-modal.medium { width: 400px; margin-left: -240px; }
.reveal-modal.large { width: 600px; margin-left: -340px; }
.reveal-modal.xlarge { width: 800px; margin-left: -440px; }
.reveal-modal .close-reveal-modal { font-size: 22px; line-height: .5; position: absolute; top:13px; right: 11px; color: #aaa; text-shadow: 0 -1px 1px rbga(0, 0, 0, .6); font-weight: bold; cursor: pointer; }