/*	-------------------------------------------------------------
	Project Name:   Silvertrees Panel ( Improved version )
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	.developer3@silvertrees.net
	-------------------------------------------------------------	
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	
* { margin:0; padding:0; }
a { text-decoration:none; outline:none; color:#4d4d4d }
a:focus { outline:none; }
a:hover { text-decoration:none; }
img { border:none; }
hr { border:0 #e3e7ef solid; border-top-width:1px; clear:both; height:0 }
h1, h2, h3, h4, h5, h6 { padding-bottom:5px; color:#0D6EB3; font-weight:100 }
h1, h2 { font-size: 22px;  margin: 10px 0 15px; }
h3 { font-size:18px }
h4 { font-size:16px }
h5 { font-size:14px }
h6 { font-size:12px }
blockquote { color:#003f74; font-size:14px; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; margin:20px 0 }
button, input, select, textarea { font-family:Arial, Helvetica, sans-serif }
/*commen classes */
.clear { font-size:1%; clear:both; height:1%; overflow:hidden; line-height:1px }
.left { float:left; display:inline; }
.right { float:right; display:inline; }
.note { font-size:11px; color:#666; padding:3px 0; }
body { font:12px Arial, Helvetica, sans-serif; background:#fff url(admin/bg.gif) repeat-y; color:#4d4d4d; }
.wrap { width:998px; margin:0 auto }
.layout { padding-left:240px; min-width:750px; }
.sidebar { margin-left:-240px; width:240px; padding-bottom:250px; }
.main { width:100%; overflow:hidden; }
.logo { padding:40px 0; text-align:center; width:240px; }
.admin-bar { display: block; position: relative; color: #888; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); text-decoration: none; text-align: center; border: 1px solid #bcbcbc; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); border:1px solid #d4d4d4; border-top:none; font-size:11px; height:28px; margin-bottom:25px }
.admin-bar, .tab-bar { background-color:#EFEFEF; background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); background-image: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 60%, rgba(225, 223, 226, 1) 100%); }
.admin-bar .admin-actions { padding:5px 0; }
.admin-bar .admin-actions a { padding:10px 15px 10px 25px; font-size:13px; color:#333 }
.admin-bar .admin-actions a:hover { color:#000 }
.admin-bar .dashboard { background:url(admin/ico/dashboard.gif) no-repeat left; }
.admin-bar .logout { background:url(admin/ico/logout.gif) no-repeat left; }
.welcome-msg { padding:0 15px }
.side-nav { padding:20px 0 40px; overflow:hidden; }
.side-nav ul { list-style:none; float:right; width:220px; }
.side-nav ul li { margin-bottom:1px; }
.side-nav li a { display:block; background:#222 url(admin/grad.png) repeat-x top; color:#fff; padding:10px 10px 10px 20px; text-transform:capitalize; font-weight:700; -webkit-transition: all .5s linear;
-moz-transition: all .5s linear;
-o-transition: all .5s linear;
transition: all .5s linear;
border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px border-radius:3px 0 0 3px;
-ms-border-radius:3px 0 0 3px }
.side-nav li a:hover { opacity:0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); }
.side-nav li a.current { background:#FFF; color:#353535; font-weight:700 }
.side-nav ul.current { display:block }
.side-nav li ul { float:none; padding:6px 0; width:auto; display:none }
.side-nav li ul li a { display:block; background:none; color:#fff; padding:4px 20px; text-transform:capitalize; font-size:12px; font-weight:100; position:relative; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 3s linear; left:0 }

.development { padding:95px 0; overflow:hidden; }
.development a { display:block; float:right; }
.contents { padding:10px 20px 300px; min-width:700px; position:relative;}
.breadcrumbs { padding:5px 0 5px 20px; font-size:11px; }
.breadcrumbs a { color:#333; }
.breadcrumbs span { padding:0 5px; }
/*widgets*/
.widget { margin-bottom:30px; }
.widget-header { background:url(admin/grad.png) repeat-x top; text-align:center; font-size:12px; font-weight:700; color:#FFF; padding:10px 15px; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; text-align:left }
.widget-content { border:1px solid #d4d4d4; border-top:0; padding:15px; }
/*tables*/
.table { width:100%; font-size:12px; }
.table th { background: #e6eaed url(admin/tb-hd.gif) repeat-x bottom; }
.listing-table th:hover { background: #e6eaed url(admin/tb-hd-inverse.gif) repeat-x top; }
.listing-table { border:1px solid #d4d4d4; border-collapse:collapse }
.listing-table th, .listing-table td { text-align:left; border:1px solid #dadada; border-collapse:collapse; border-left:0; border-right:0 }
.listing-table th { border-bottom:1px solid #a7abae; border-top:1px solid #FFF; font-size:12px; }
.listing-table th a, .listing-table th span { display:block; padding:12px 10px; text-shadow:0 1px 0 #FFF }
.listing-table td { padding:7px 10px; background:#fff; -webkit-transition: all .5s linear;
-moz-transition: all .5s linear;
-o-transition: all .5s linear;
transition: all .5s linear;
left:0 }
/*.listing-table tr td:first-child { text-align:center }*/
.listing-table tr td:first-child input { margin-right:0 }
.listing-table .odd td { background:#fff; }
.listing-table .multi-select { text-align:center; width:25px }
.listing-table .multi-select input { margin-right:0 }
.listing-table tr:nth-child(even) td {
background:#edf1f4 url(admin/white.gif) repeat-x top;
}
.listing-table .active td, .listing-table tr:hover td { background:#f2ffe5; }

.listing-table tr.nextPageBreak td{ border-bottom-style: dashed ; border-bottom-width: 4px;}
.listing-table tr.prevPageBreak td{ border-top-style: dashed ; border-top-width: 4px;}
.listing-table tr.selected td{ background: #ffffbf; }

.listing-actions { background: #e6eaed; border:1px solid #d4d4d4; padding:7px 10px; border-top:none; font-size:11px; border-radius:0 0 5px 5px; margin-bottom:20px }
.listing-actions select { width:150px; border:1px solid #BBB; padding:2px; }
.listing-actions .btn { border:1px solid #fdfdfd; }
.listing-actions label { font-size:11px; display:inline; font-weight:100 }
/*filters*/
.filter-ico { display:block; background:url(admin/ico/filter.png) no-repeat left; padding-left:25px; font-weight:100; font-size:14px; line-height:18px }
#filter { display:block; margin-bottom:15px; }
#filter .input { padding-bottom:5px; height:50px }
#filterform div { display:inline; float:left; margin-right:10px; }
#filterform label { font-size:11px; margin-top:5px; height:14px; display:block; text-transform:capitalize; }
#filterform div.clear { display: block; float:none; margin-right:0px; }
#filterform div.select select { width:87px; font-size:11px; font-family:Arial; padding-left:3px; }
#filterform div.text input { width:65px; font-size:11px; height:16px; font-family:Arial; padding-left:3px; }
#FilterClear { display:inline-block; margin-left:5px; }
.filter-action { padding-top:33px; }
.filter-action input { float: left; font-weight: 700; padding: 7px 10px; }
/*paging*/
.paging { overflow:hidden; }
.paging ul { list-style:none; float:right }
.paging ul li { float:left; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); margin: 1px 2px; padding: 5px 10px; display: inline-block; border-top: 1px solid #fff; text-decoration: none !important; color: #717171 !important; text-shadow: white 0 1px 0; background-color: #f5f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea)); background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea); background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea); background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea); background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea); background-image: linear-gradient(top, #f9f9f9, #eaeaea);  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');}
.paging ul li:hover, .paging ul li:focus { border-color: #fff; background-color: #fdfdfd; background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa)); background-image: -webkit-linear-gradient(top, #fefefe, #fafafa); background-image: -moz-linear-gradient(top, #fefefe, #fafafa); background-image: -ms-linear-gradient(top, #fefefe, #fafafa); background-image: -o-linear-gradient(top, #fefefe, #fafafa); background-image: linear-gradient(top, #fefefe, #fafafa);  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');}
.paging ul li.current { -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75); -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75); -o-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75); box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75); border-color: #505050 !important; color: #f2f2f2 !important; text-shadow: black 0 1px 0; background-color: #676767; background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c)); background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c); background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c); background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c); background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c); background-image: linear-gradient(top, #5f5f5f, #5c5c5c);  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c');}
/*grids*/
.grid { overflow:hidden; }
.grid-x2 .column { width:48%; }
/*forms*/
button { border:none; overflow:visible; background:none; cursor:pointer; }
.input { margin-bottom:15px; }
label { font-size:12px; font-weight:700; padding:5px 2px; display:block }
input, textarea, select { padding:5px; font-size:11px; color:#333; margin-right:7px; font-family:Arial, Helvetica, sans-serif, "Trebuchet MS"; }
.textarea textarea, .text input, .password input, .select select { resize:none; background:#fff; padding:7px 4px; border:none; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; width:265px; margin:3px 0; border: 1px solid #ccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.75); font-size: 12px; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
.textarea textarea:focus, .text input:focus, .password input:focus { background: #fafafa; border-color: #b3b3b3; border-color: rgba(82, 168, 236, 0.8); outline: 0; outline: thin dotted \9; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
.checkbox label, .radio label { display:inline; }
.select select { cursor:pointer }
.select select option { padding:1px 4px; }
.textarea textarea { height:70px; }
.input label { font-size:12px; color:#333 }
div.error-message { color:#C60F13; font-size:11px; font-weight:700 }
input.form-error, textarea.input.form-error { border-color: #c60f13; background-color: rgba(198, 15, 19, 0.1); }
.buttons { background: #F1F1F1; border: 1px solid #D2D2D2; margin-bottom: 20px; padding: 11px; }
.btn { background:url(admin/grad.png) repeat-x top; font-size:11px; text-align:center; color:#FFF; border:0; padding:4px 7px; cursor:pointer }
.button-secondary, .confirm-action button { background:url(admin/white-grad.png) repeat-x scroll left top #F2F2F2; text-shadow: 0 1px 0 #FFF; font-size:12px; padding:3px 8px; border-radius: 10px; -webkit-border-radius:10px; border:1px solid #BBBBBB; cursor:pointer; font-family:Tahoma, Geneva, sans-serif }
.button-secondary:hover, .confirm-action button:hover { border:1px solid #333 }
.menu-options select { width:auto }
/*submit button*/
.submit input:hover { background-color: #457a1a; }
.submit input:focus { -webkit-box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.file-upload a { margin:0 4px }
.file input { margin:7px 0; display:block }
.file-name { background:#FEFFE8; border: 1px dotted #DDD; font-size: 10px; margin: 0 5px 5px 0; padding: 3px 6px; }
/*custom upload elements*/
.customfile-input { position: absolute; height:35px; left:0; width:250px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
z-index: 999; top:0 }
.customfile { cursor: pointer; overflow: hidden; position: relative; }
.customfile-feedback { display: block; font-size: 12px; font-style: italic; padding:4px; color:#333 }
.customfile-feedback-populated { font-style: normal; }
.customfile-button { border: 1px solid #999; background: #f0f0f0; font-size:12px; padding:3px; float: right; width: 50px; text-align: center; text-decoration: none; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.customfile-focus .customfile-button { outline: 1px dotted #ccc; }
.orders-view table td, .orders-view tr td:first-child { text-align:left }
.related-group { padding:15px 0; margin-bottom:50px }

.events .page_set {width:280px;  padding: 10px 10px 0; margin-bottom:7px}
.events .page_set a{ text-decoration:underline;}
.events .page_set .input select { width:150px; margin-right:10px}
.page_set { display:block; position:relative; background:#fafafa; border:1px dashed #ddd; margin-bottom:20px; padding:15px; z-index:5; width:650px;  cursor:pointer }
.page_set .input { float:left; margin-right:30px; margin-bottom:10px }
.page_set .input input, .page_set .input select { width:170px; }
.page_set .checkbox input { width:auto; }
.page_set.active{ cursor: default; background: #eaefff;}
.price-range .page_set .input{ margin-right:15px;}
.price-range .page_set input{ width:70px; margin:0 5px;}

#OrderBookings li { overflow:hidden; display:block}
.delete-booking { position:absolute; right:0; top:0; height:18px; width:18px; background:url(admin/close.png) no-repeat; text-indent:-999999px;}

#map{ border:1px solid #ddd ; padding: 3px; }
#map.new, #map.setcenter{ cursor: crosshair; overflow: hidden;  outline: 0; outline: thin dotted \9; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); border:1px solid rgba(82, 168, 236, 0.8)}
#map.setcenter{ cursor: cell;}

.DeleteSection { position:absolute; top:0; right:0; cursor:pointer; z-index:10 }
.tent.active{ background-position: bottom; color: red; }
.tent.moving {cursor:move!important;}
#map #eventmapimage{ display: block; overflow: auto; margin:auto; }
.togglebutton { border:1px solid #a4a4a4; }
button.togglebutton.toggled { border:1px solid #6db606; color: #6db606; }
button.togglebutton.toggled.sticky { border:1px solid #6db606; color: #6db606;  }

#eventmapimage { position:absolute; left:0; top:0; }

.DeleteSection img { height:16px;}
.add-item { background:url(admin/ico/add-ico.png) no-repeat; display:block; line-height:24px; padding-left:30px; color:#666; font-size:18px; }
/*map selector*/
.map { text-align:center;}
.map-selector .button-secondary { margin:7px 15px; }
.map-box { border:1px solid #ddd; margin:15px 0 }
.map-popup { border:5px solid #ddd }
.map-popup .button-secondary { position: absolute; right: 195px; top: -44px; }
.checkgroup { height:80px; width:400px; overflow:auto; zoom:1; position:relative; border:1px solid #ccc; padding:10px; }
.checkgroup .checkbox { margin-top:5px; height:auto }
/*confirm messages*/

.confirm-message { background:url(admin/white-grad.png) repeat-x left bottom #FFF; border:1px solid #ddd; padding:15px 20px; margin:20px 0 }
.confirm-message h2 { font-weight:700; margin-bottom:10px; }
.confirm-message h3 { font-weight:700; margin-bottom:10px; font-size:22px; }
.confirm-message .delete-items { list-style:none; padding:10px 0 }
.confirm-message .delete-items span.one-item { display:inline; float:left; background:#fff; border:1px solid #d4d4d4; font-size:12px; font-weight:700; padding:5px 7px; margin:0 5px 5px 0; }
.confirm-message .delete-items span.one-item a { color:#333 }
.confirm-message .delete-items span.seprated-item { display:inline; float:left; font-size:14px; padding:5px 7px; }
.confirm-action { text-align:center; margin: 0 auto; overflow: hidden; text-align: center; width: 190px; }
.confirm-action button { padding:5px 25px; margin-right:10px; font-weight:700 }
/*payment block*/
.payment-block { margin-bottom:40px; }
.payment-gateways { margin-bottom:30px; }
.payment-gateways a:hover { text-decoration:none; }
.gateways-list { margin:10px 0; zoom:1; display:block; position:relative; }
.gateways-list table { margin:10px 0; }
.gateways-list table td { padding:4px; vertical-align:top }
.gateways-list table td .submit { padding-left:107px; padding-top:7px; }
.gateway-row { padding:5px 10px; margin-bottom:10px; zoom:1; background:#F4F4F4; }
.gateway-row h3 { width:165px; padding-left:35px; font-size:18px; font-weight:100; padding-top:6px; padding-bottom:6px }
.gateway-row .checkbox { padding-top:8px; margin-right:20px; margin-top:0 }
.payment-gateways .accordion-switch { font-size:16px; color:#333; background:#dbdbdb; height:19px; width:19px; text-align:center; font-weight:700; position:absolute; left:11px; top:11px; display:block; line-height:17px; zoom:1; text-decoration:none; }
.payment-gateways .Collapse { line-height:20px; }
.payment-details { background:#FFF; }
.payment-block .input { padding-left:120px; position:relative; }
.payment-block .input label { position:absolute; left:0; width:115px; margin:0 }
.payment-details-table { margin:10px 0 20px 0; border-bottom:1px solid #e3e3e3; }
.payment-details-table th, .payment-details-table td { text-align:left }
.payment-details-table caption { background:#1794C5; color:#FFF; padding:8px; font-size:13px; font-weight:700; text-align:center; }
.payment-details-table td, .payment-details-table th { background:#FFF; padding:5px 10px; vertical-align:top }
.payment-details-table td.title { font-weight:700; }
.payment-details-table .even td, .payment-details-table .even th { background:#f0f0f0 }
.payment-details-table .total td { font-size:13px; font-weight:700; border-top:3px double #ccc }
.crumbs { display: block; margin-left:10px }
.crumbs li { display: inline; }
.crumbs li.first { padding-left: 8px; }
.crumbs li a, .crumbs li a:link, .crumbs li a:visited { color: #666; display: block; float: left; font-size: 12px; margin-left: -13px; padding: 7px 17px 11px 25px; position: relative; text-decoration: none; }
.crumbs li a { background-image: url(admin/bg-crumbs.png); background-repeat: no-repeat; background-position: 100% 0; position: relative; }
.crumbs li a:hover { color: #333; background-position: 100% -48px; cursor: pointer; }
.crumbs li a:active, .crumbs li.active a { color: #333; background-position: 100% -96px; }
.crumbs li.first a span { height: 29px; width: 3px; border-left: 1px solid #d9d9d9; position: absolute; top: 0px; left: 0px; }

/* @group clearfix classes */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
ul#menu { list-style:none; margin-bottom:25px }
ul#menu li a.tabs-row { background:#E6EAED url(admin/arrow_closed.gif) no-repeat 10px 12px; margin: 5px 0; padding: 10px 25px; display:block }
ul#menu li a:hover.tabs-row { background-color:#EDF1F4; }
ul#menu li > ul { list-style:none; padding:0 10px; }

/*tabed area*/
.tab-bar { border:1px solid #D4D4D4; padding:10px 20px 0; margin-top:10px; height:34px; }
.tab-bar ul { list-style:none; }
.tab-bar li { display: inline; float: left; margin-bottom: -2px; margin-right: 5px; }
.tab-bar li a { background: none; border: 1px solid #DDD; display: block; font-weight: 700; line-height: 33px; padding: 0 15px; position:relative; }
.tab-bar li a:hover, .tab-bar li a.active { background:#fff; border-bottom:1px solid #fff; }
.tab-content { border:1px solid #ddd; border-top:none; padding:10px 20px; margin-bottom:30px }
.template-selector { display:block; margin:0 0 10px; width:210px; }
.template-select-wrap { display:block; height:120px; padding-bottom:5px; }
.template-select-wrap .SelectedLogo { border:1px solid #DBDBDB; display:inline; float:left; height:100%; margin:1px; text-align:center; width:81%; overflow:hidden }
.template-select-wrap .SelectedLogo span { color:#333; display:block; font-size:18px; padding:50px 0; }
.template-select-wrap .ChangeLogo { background:#FFF none repeat scroll 0 0; display:inline; float:left; height:100%; margin-left:1px; width:10%; }
.template-select-wrap .ChangeLogo a { background:transparent url(admin/arrow_down.png) no-repeat scroll center center; border:1px solid #DBDBDB; display:block; height:100%; margin:1px; padding:0 5px; text-indent:-9999px; width:100%; }
.template-selector ul { background:#FFF none repeat scroll 0 0; border: 1px solid #ccc; display:block; height:265px; list-style-image:none; list-style-position:outside; list-style-type:none; overflow:auto; position:absolute; width:208px; z-index:100 }
.template-selector ul li { border-bottom:1px solid #DBDBDB; display:block; font-size:1%; text-align:center; }
.template-selector ul li img { padding:0; border:4px solid #fbfbfb }
.template-selector ul li.no_logo a { font-size:18px; padding:20px 0; }
.template-selector ul li.no_logo a:hover { text-decoration:none; }
.template-selector ul li a { display:block; padding:7px 0; }
.template-selector ul li a:hover { background:#F6F6F6 none repeat scroll 0 0; display:block; }
#preview { position:absolute; border:1px solid #ccc; background:#333; padding:5px; display:none; color:#fff; }
.placholders { background:#fff; border:1px solid #999; padding:10px; width:317px; float:left; margin-right:20px; margin-bottom:20px }
.placholders h4 { border-bottom:1px dotted #999; margin-bottom:10px }
.placholders ul { list-style:none; height:200px; position:relative; overflow:auto }
.placholders ul li { display:block; padding:3px; font-size:11px; border-bottom:1px solid #ddd; }

/*action*/
.extra-actions { padding:20px 0}
.extra-actions a{  display: block; float: left; font-weight: 700; line-height: 16px; padding-left: 22px; text-transform: capitalize; margin-right:10px}
th.action { padding-left:10px }
ul.action { list-style:none; }
.action li { float:left; }
.action li a { display: block; float: left; font-weight: 700; line-height: 16px; padding-left: 22px; text-transform: capitalize; margin-right:10px }
.Edit { background:url(admin/ico/edit.png) no-repeat left; }
.EditPage { background:url(admin/ico/feature.png) no-repeat left; }
.Delete { background:url(admin/ico/delete.gif) no-repeat left; }
.Bookings { background:url(admin/ico/booking.png) no-repeat left; }
.AddMenu { background:url(admin/ico/nav.png) no-repeat left center; }
.View { background:url(admin/ico/view.gif) no-repeat left center; }
.Reviews { background:url(admin/ico/review.png) no-repeat left center; }
.LoginAs { background:url(admin/ico/key.png) no-repeat left center; }
a.Export { background:url(admin/ico/xlsx_win.png) no-repeat left center; color: #333; display: block; font-size: 18px; height: 40px; line-height: 42px; margin: 10px 0; padding: 0 5px 0 43px; text-decoration: none; -webkit-transition: all .25s linear;
-moz-transition: all .25s linear;
-o-transition: all .25s linear;
transition: all .25s linear;
position:relative; left:0 }
a:hover.Export { color:#1a803d; left:10px; }
.side-nav li a, .widget-header, .btn { background-color:#0D6EB3; }
.fly-map { position:fixed; right:10px; top:30px; z-index:50; background:#fff; padding-bottom:90px; float:right; zoom:1}
.fly-map .submit { float:right; margin:5px 10px}
.top-action-btns { padding:10px 0; background:#fff; position:relative; zoom:1;}
.top-action-btns .select select{ width:150px;}
.top-action-btns .select label{ display:inline; padding-right:10px;}
.top-action-btns button { margin-right:10px;}
.map-actions { padding:15px 10px; background:#f1f1f1; border:1px solid #ddd;}
.map-actions label { display:inline }

#map div.tent.active {background-position: 0 -50px;color: red;}
#map div.tent.in-active {background-position: 0 -50px;color: red;}
#map img.tent { position:absolute; opacity:0.7; }
#map div.tent {background: url(images/tent2.png) repeat scroll 0 0 transparent; cursor: pointer;height: 50px; left: 0; position: absolute; text-indent: -10000px;top: 0;    width: 50px;}
#map .tent {cursor: pointer; left: 0; position: absolute; top: 0;}
#map .tent.active { opacity:1}

.submit { margin:20px 0; }
.submit input, input.SaveAsNew, .button-primary { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); background:#222222 url("admin/large-button-overlay.png") bottom; border:1px solid rgba(0, 0, 0, 0.25); color:#FFFFFF !important; cursor:pointer; display:inline-block; font-size:13px; font-weight:bold; line-height:1; overflow:visible; font-size: 14px; padding: 6px 16px; position:relative; text-decoration:none; text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); width:auto; text-align:center; border:none; }
.submit input, .button-primary { background-color:#91BD09; }
.submit input:hover { background-color:#749A02; }
.submit input:active { background-color:#a4d50b; }
input.SaveAsNew { background-color:#0E59AE; margin:-50px 0 0 103px; float:left }
input.SaveAsNew:hover { background-color:#063468; }
input.SaveAsNew:active { background-color:#1169cc; }
.zoom-options { margin-top:2px; overflow:hidden; float:right;}
.zoom-options a { background: #EEE; border: 1px solid #DDD; color: #333; display: block; float: left; font-size: 19px; height: 8px; line-height: 7px; margin: 0 9px 0 0; padding: 5px; 
text-align: center; width: 10px; }
#zoom_value { font-size:12px; padding:3px 0; display:block; float:left }
.zoom-options a.disabled{ background:#f6f6f6; color:#dfdfdf;}


.spacer { margin:10px 0}
span.sortHandle{
    padding:2px;
    margin: 5px;
    background: lightgray;
    border: 1px solid silver;
    cursor: move;
    text-indent: -100px;
    font-size: 9px;
    
}
span.sortHandle.inactive{
    cursor: not-allowed;
    background: #ededed;
    color: #dadada;
    border: 1px solid #dadada;
}

th.ajax-reorder a { float: left; }
th.ajax-reorder a.ajax-reorder{ text-indent: -99999px; background: url('admin/ico/save.gif') no-repeat center center;}

tr.ui-sortable-placeholder{ border: 3px dotted lightblue; background: lightcyan; visibility: visible !important;} 