		@font-face {
				font-family: 'Stag-Bold';
				src: url('fonts/stag-bold.eot');
				src: url('fonts/stag-bold.eot?#iefix') format('embedded-opentype'),
						 url('fonts/stag-bold.woff') format('woff'),
						 url('fonts/stag-bold.ttf') format('truetype'),
						 url('fonts/stag-bold.svg#stag-bold') format('svg');
				font-weight: normal;
				font-style: normal;
		}
