#flashMessage, .flashMessage { display:block; clear:both; margin-bottom:15px; padding:10px 10px 10px 40px; min-height:20px; font-family:Arial, Tahoma, sans-serif; font-size:12px; font-weight:normal; line-height:20px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; -moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; -webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; -o-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; margin:15px 0; }
.fail , .Errormessage{ border:1px solid #dc4e4d; color:#b52525; background: url(admin/ico/error.png) no-repeat 15px 14px #ffbfbf;}
.success, .Sucmessage { border:1px solid #accc5d; color:#70892b; background: url(admin/ico/succ.png) no-repeat 15px 14px #ecfebe;}
.info, .Notemessage { border:1px solid #e9c95f; color:#ae8500; background: url(admin/ico/info.png) no-repeat 15px 14px #f9e08f;}




.error-message { color:#F00; padding:2px 0;}
