<?php
$FullWidthBanner = ClassRegistry::init('FullWidthBanner');
//if ($_GET['dealership']) {
//    $conditions['FullWidthBanner.dealerships'] = $_GET['dealership'];
//}
$FullWidthBanners = $FullWidthBanner->find('first', array('conditions' => array('FullWidthBanner.id' => $value,'FullWidthBanner.dealerships like' => "%".$_GET['dealership']."%")));

// check if filtered
//if($_GET['dealership']) $dealership = $_GET['dealership'];else $dealership = '';
if(!empty($FullWidthBanners)){
$dealerships = (!empty($FullWidthBanners['FullWidthBanner']['dealerships']) ? $FullWidthBanners['FullWidthBanner']['dealerships'] : (isset($dealership) ? $dealership : ''));

?>

<div class="section specials-list">
<div class="container">
    <div class="special-box m-b-lg">
        <a href="<?php echo $FullWidthBanners['FullWidthBanner']['url'] ?>"><img src="<?php echo $FullWidthBanners['FullWidthBanner']['image_full_path'] ?>" alt="" /></a>
    </div>
</div>
</div>

<?php }?>