<div class="contents">
    <div class="container">
        <div class="col-md-8">
            <h1>Dashboard</h1>
            
            <?php echo $this->element('Users.saved_searches');?>
            
            <!-- /collapse-section  --> 

        </div>
        <?php echo $this->element('Users.right_menu') ?>
    </div>
</div>