/*	-------------------------------------------------------------
	Project Name   st-login
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	.updated      1-07-2011
	.developer3@silvertrees.net
	-------------------------------------------------------------	

/*	-------------------------------------------------------------
	. Defult Elements, Reset
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
* { margin:0; padding:0; }
a { text-decoration:none; color:#555 }
a, a:hover, a:active, a:focus { outline:none; text-decoration:none; }
img { border:none; }
hr { border:0 #e3e7ef solid; border-top-width:1px; clear:both; height:0 }
h1, h2, h3, h4, h5, h6, p { padding-bottom:5px; color:#333 }
h1 { font-size:22px; }
h2 { font-size:16px }
h3 { font-size:14px }
h4 { font-size:12px }
h5 { font-size:11px }
h6 { font-size:10px }
body { background:#FFF; font-size:12px; font-family:Arial, Helvetica, sans-serif; }
/*login page*/
.st-login { width:500px; margin:0 auto; }
.st-logo { text-align:center; padding:30px 0 15px; }
.st-globle { background:url(login/options-bg.jpg) no-repeat; width:446px; height:96px; padding-top:9px; margin:0 auto 20px }
.wa-ico { background: url(login/globe.jpg) no-repeat scroll center center transparent; color: #9B9F9E; font-family: "Trebuchet MS", Arial, Helvetica, sans-seri; font-size: 14px; font-weight: 700; height: 14px; margin: 0 auto; padding-top: 58px; text-align: center; width: 120px; }
.st-box { background: url(login/loginbox-bg.jpg) no-repeat 0 0; display: block; height: 397px; margin: 10px auto; padding: 76px 70px 10px 75px; width: 354px; }
.box-snippets { color: #437182; font-size: 11px; padding-bottom: 20px; text-align: left; }
.st-form{ padding:10px 0}
.st-form .input { margin-bottom:15px; }
.st-form .submit { text-align:center; padding:10px 0 }
.st-form input { width:350px }
.sec-title { color: #052E7A; font-family: "Trebuchet MS"; font-size: 18px; margin: 0; padding: 10px 0; text-align: center; }

.input input { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; background: #FFF; border: 1px solid #C6DADE; color: #437182; font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; outline: 0 none; padding: 8px 5px; }
.field-labels { padding-left:0; position:relative; display:block }
.field-labels label { font-weight:100; padding:3px 0; font-size:12px; color: #437182; }

button{ background:none; border:none; overflow:visible; cursor:pointer;}

.submit-btn, .submit-btn span { background:url(login/login-btn.gif) no-repeat left; font-family:Arial, Helvetica, sans-serif; margin-right:-1px; text-align:center;}
.submit-btn{ display:inline-block; padding-left:35px; cursor:pointer; }
.submit-btn span { background-position:right 0; height:25px; padding-top:10px; display:block; text-align:center; color:#437182; font-size:13px; font-weight:700; padding-right:35px; text-transform:uppercase}


/*  Erros Massages */
div.error-message { color:red; font-size:11px; display:block; clear:both; padding:2px 4px }
input.error-message { border:1px solid red }
input.error-message, select.error-message, textarea.error-message { margin-left:0; }
input.form-error { border:1px solid red; background:#fff5f5; }
#flashMessage { margin:10px auto 30px; border-width: 0 0 1px; font-size: 11px; width:70% }
.info, .infoFixed { background: #FEFCD0 url(login/infoballon.gif) no-repeat 7px 9px; padding: 10px 10px 10px 35px; border: 1px solid #DDDA8C; border-width: 0 0 1px; color:black; }
.fail { background: #ffe8e9 url(login/error.gif) no-repeat 7px 9px; padding: 10px 10px 10px 35px; border: 1px solid #df7a81; border-width: 0 0 1px; margin-bottom:15px; color:red; }
.success { background: #f1ffda url(login/success.gif) no-repeat 7px 9px; padding: 10px 10px 10px 35px; border: 1px solid #8dae58; border-width: 0 0 1px; margin-bottom:15px; color:green; }
