<div class="directoryCars index">
    <h2><?php echo __('Cars Directory'); ?></h2>
    <?php 
	 echo $this->List->filter_form($modelName, $filters); 
	$fields = array(
		'DirectoryCar.id' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
		'DirectoryCar.make' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
		'DirectoryCar.model' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
		'DirectoryCar.body' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
		'DirectoryCar.apl' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
	); 
            $links = array(
                $this->Html->link(__('Edit', true), array('action' => 'edit', '%id%'), array('class' => 'Edit')),
                $this->Html->link(__('Delete', true), array('action' => 'delete', '%id%'), array('class' => 'Delete') ), // , __('Are you sure?', true)),
            );

            $multi_select_actions = array('delete' => array('action' => Router::url(array('action' => 'delete')), 'confirm' => true));

            echo $this->List->adminIndexList($fields, $directoryCars, $links,true, $multi_select_actions);


?>
</div>
