<div class="items form">
    <?php echo $this->Form->create('Item', array('type' => 'file', 'url' => '/temp_files/upload' )); ?>
    <fieldset>
        <?php
        echo $this->Form->input('file', array('type' => 'file'));
              ?>
    </fieldset>
    <?php echo $this->Form->end(__('Submit')); ?>
</div>