<div class="cars index">
    <h2><?php echo __('Cars'); ?></h2>
    
    
     
<!--    <div class="actions-bar clearfix">
        <div class="pull-right">
        
            <ul class="action pull-right">
                <li><a class="Edit" href="/">Edit</a></li>
                <li><a class="Duplicate" href="/">DUPLICATE</a></li>
                <li><a class="Delete" href="/">Delete</a></li>
            </ul>
            <div class="display-options pull-right">
                <a href="#" class="display-grid active">Grid</a>
                <a href="#" class="display-table">Table</a>
                <a href="#" class="display-list">List</a>
            </div>
         </div>
     </div>
    
    
    <div class="boxs-listing">
    	
        <div class="row">
        <div class="col-md-4">
        	<div class="car-box">
            	<div class="row">
                	<div class="col-md-6 text-left"><input type="checkbox" value="" /></div>
                </div>
            	<div class="row">
                	<div class="col-md-4 text-left"><img src="http://dummyimage.com/85x85/ddd/ddd" /></div>
                	<div class="col-md-8 text-left">
                     <h3><a href="#">HSV Clubsport </a></h3>
                    <p>2013 E Series 3 R8 Tourer<br>63,000km | $32,000</p>
                    <ul>
                    	<li>Stock Number</li>
                    	<li>Rego</li>
                    	<li>HH456215</li>
                    	<li>KJH545</li>
                    </ul>
                     </div>
                </div>
            </div>
        </div>
         / box 

        <div class="col-md-4">
        	<div class="car-box">
            	<div class="row">
                	<div class="col-md-6 text-left"><input type="checkbox" value="" /></div>
                </div>
            	<div class="row">
                	<div class="col-md-4 text-left"><img src="http://dummyimage.com/85x85/ddd/ddd" /></div>
                	<div class="col-md-8 text-left">
                     <h3><a href="#">HSV Clubsport </a></h3>
                    <p>2013 E Series 3 R8 Tourer<br>63,000km | $32,000</p>
                    <ul>
                    	<li>Stock Number</li>
                    	<li>Rego</li>
                    	<li>HH456215</li>
                    	<li>KJH545</li>
                    </ul>
                     </div>
                </div>
            </div>
        </div>
         / box 


        <div class="col-md-4">
        	<div class="car-box">
            	<div class="row">
                	<div class="col-md-6 text-left"><input type="checkbox" value="" /></div>
                </div>
            	<div class="row">
                	<div class="col-md-4 text-left"><img src="http://dummyimage.com/85x85/ddd/ddd" /></div>
                	<div class="col-md-8 text-left">
                     <h3><a href="#">HSV Clubsport </a></h3>
                    <p>2013 E Series 3 R8 Tourer<br>63,000km | $32,000</p>
                    <ul>
                    	<li>Stock Number</li>
                    	<li>Rego</li>
                    	<li>HH456215</li>
                    	<li>KJH545</li>
                    </ul>
                     </div>
                </div>
            </div>
        </div>
         / box 


        <div class="col-md-4">
        	<div class="car-box">
            	<div class="row">
                	<div class="col-md-6 text-left"><input type="checkbox" value="" /></div>
                </div>
            	<div class="row">
                	<div class="col-md-4 text-left"><img src="http://dummyimage.com/85x85/ddd/ddd" /></div>
                	<div class="col-md-8 text-left">
                     <h3><a href="#">HSV Clubsport </a></h3>
                    <p>2013 E Series 3 R8 Tourer<br>63,000km | $32,000</p>
                    <ul>
                    	<li>Stock Number</li>
                    	<li>Rego</li>
                    	<li>HH456215</li>
                    	<li>KJH545</li>
                    </ul>
                     </div>
                </div>
            </div>
        </div>
         / box 


        <div class="col-md-4">
        	<div class="car-box">
            	<div class="row">
                	<div class="col-md-6 text-left"><input type="checkbox" value="" /></div>
                </div>
            	<div class="row">
                	<div class="col-md-4 text-left"><img src="http://dummyimage.com/85x85/ddd/ddd" /></div>
                	<div class="col-md-8 text-left">
                     <h3><a href="#">HSV Clubsport </a></h3>
                    <p>2013 E Series 3 R8 Tourer<br>63,000km | $32,000</p>
                    <ul>
                    	<li>Stock Number</li>
                    	<li>Rego</li>
                    	<li>HH456215</li>
                    	<li>KJH545</li>
                    </ul>
                     </div>
                </div>
            </div>
        </div>
         / box 


        <div class="col-md-4">
        	<div class="car-box">
            	<div class="row">
                	<div class="col-md-6 text-left"><input type="checkbox" value="" /></div>
                </div>
            	<div class="row">
                	<div class="col-md-4 text-left"><img src="http://dummyimage.com/85x85/ddd/ddd" /></div>
                	<div class="col-md-8 text-left">
                     <h3><a href="#">HSV Clubsport </a></h3>
                    <p>2013 E Series 3 R8 Tourer<br>63,000km | $32,000</p>
                    <ul>
                    	<li>Stock Number</li>
                    	<li>Rego</li>
                    	<li>HH456215</li>
                    	<li>KJH545</li>
                    </ul>
                     </div>
                </div>
            </div>
        </div>
         / box 


        <div class="col-md-4">
        	<div class="car-box">
            	<div class="row">
                	<div class="col-md-6 text-left"><input type="checkbox" value="" /></div>
                </div>
            	<div class="row">
                	<div class="col-md-4 text-left"><img src="http://dummyimage.com/85x85/ddd/ddd" /></div>
                	<div class="col-md-8 text-left">
                     <h3><a href="#">HSV Clubsport </a></h3>
                    <p>2013 E Series 3 R8 Tourer<br>63,000km | $32,000</p>
                    <ul>
                    	<li>Stock Number</li>
                    	<li>Rego</li>
                    	<li>HH456215</li>
                    	<li>KJH545</li>
                    </ul>
                     </div>
                </div>
            </div>
        </div>
         / box 
        <div class="col-md-4">
        	<div class="car-box">
            	<div class="row">
                	<div class="col-md-6 text-left"><input type="checkbox" value="" /></div>
                </div>
            	<div class="row">
                	<div class="col-md-4 text-left"><img src="http://dummyimage.com/85x85/ddd/ddd" /></div>
                	<div class="col-md-8 text-left">
                     <h3><a href="#">HSV Clubsport </a></h3>
                    <p>2013 E Series 3 R8 Tourer<br>63,000km | $32,000</p>
                    <ul>
                    	<li>Stock Number</li>
                    	<li>Rego</li>
                    	<li>HH456215</li>
                    	<li>KJH545</li>
                    </ul>
                     </div>
                </div>
            </div>
        </div>
         / box 
        <div class="col-md-4">
        	<div class="car-box">
            	<div class="row">
                	<div class="col-md-6 text-left"><input type="checkbox" value="" /></div>
                </div>
            	<div class="row">
                	<div class="col-md-4 text-left"><img src="http://dummyimage.com/85x85/ddd/ddd" /></div>
                	<div class="col-md-8 text-left">
                     <h3><a href="#">HSV Clubsport </a></h3>
                    <p>2013 E Series 3 R8 Tourer<br>63,000km | $32,000</p>
                    <ul>
                    	<li>Stock Number</li>
                    	<li>Rego</li>
                    	<li>HH456215</li>
                    	<li>KJH545</li>
                    </ul>
                     </div>
                </div>
            </div>
        </div>
         / box 


        </div>
     </div>
    
    
    
    
     
    
    
    
    
    
    
    
    <div class="listing-large">
  
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Select</th>
            <th width="388">Image</th>
            <th>Details</th>
          </tr>
          <tr>
            <td class="check-cell"><input type="checkbox" value="" /></td>
            <td class="text-center"> <a href="#"><img src="http://dummyimage.com/285x165/ddd/ddd" /></a></td>
            <td>
            <div class="feature-content">
                      	<h3><strong>HSV Clubsport</strong> 2013 E Series 3 R8 Tourer</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><span class="features-ico ico-01"></span>Sedan</td>
                            <td><span class="features-ico ico-02"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-03"></span>REGO01</td>
                            <td><span class="features-ico ico-04"></span>632 Views</td>
                          </tr>
                          <tr>
                            <td><span class="features-ico ico-05"></span>Sedan</td>
                            <td><span class="features-ico ico-06"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-07"></span>REGO01</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>

                 </div>            
            
            </td>
          </tr>
           / row end 
            <tr>
            <td class="check-cell"><input type="checkbox" value="" /></td>
            <td class="text-center"> <a href="#"><img src="http://dummyimage.com/285x165/ddd/ddd" /></a></td>
            <td>
            <div class="feature-content">
                      	<h3><strong>HSV Clubsport</strong> 2013 E Series 3 R8 Tourer</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><span class="features-ico ico-01"></span>Sedan</td>
                            <td><span class="features-ico ico-02"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-03"></span>REGO01</td>
                            <td><span class="features-ico ico-04"></span>632 Views</td>
                          </tr>
                          <tr>
                            <td><span class="features-ico ico-05"></span>Sedan</td>
                            <td><span class="features-ico ico-06"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-07"></span>REGO01</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>

                 </div>            
            
            </td>
          </tr>
           / row end 
            <tr>
            <td class="check-cell"><input type="checkbox" value="" /></td>
            <td class="text-center"> <a href="#"><img src="http://dummyimage.com/285x165/ddd/ddd" /></a></td>
            <td>
            <div class="feature-content">
                      	<h3><strong>HSV Clubsport</strong> 2013 E Series 3 R8 Tourer</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><span class="features-ico ico-01"></span>Sedan</td>
                            <td><span class="features-ico ico-02"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-03"></span>REGO01</td>
                            <td><span class="features-ico ico-04"></span>632 Views</td>
                          </tr>
                          <tr>
                            <td><span class="features-ico ico-05"></span>Sedan</td>
                            <td><span class="features-ico ico-06"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-07"></span>REGO01</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>

                 </div>            
            
            </td>
          </tr>
           / row end 
            <tr>
            <td class="check-cell"><input type="checkbox" value="" /></td>
            <td class="text-center"> <a href="#"><img src="http://dummyimage.com/285x165/ddd/ddd" /></a></td>
            <td>
            <div class="feature-content">
                      	<h3><strong>HSV Clubsport</strong> 2013 E Series 3 R8 Tourer</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><span class="features-ico ico-01"></span>Sedan</td>
                            <td><span class="features-ico ico-02"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-03"></span>REGO01</td>
                            <td><span class="features-ico ico-04"></span>632 Views</td>
                          </tr>
                          <tr>
                            <td><span class="features-ico ico-05"></span>Sedan</td>
                            <td><span class="features-ico ico-06"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-07"></span>REGO01</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>

                 </div>            
            
            </td>
          </tr>
           / row end 
            <tr>
            <td class="check-cell"><input type="checkbox" value="" /></td>
            <td class="text-center"> <a href="#"><img src="http://dummyimage.com/285x165/ddd/ddd" /></a></td>
            <td>
            <div class="feature-content">
                      	<h3><strong>HSV Clubsport</strong> 2013 E Series 3 R8 Tourer</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><span class="features-ico ico-01"></span>Sedan</td>
                            <td><span class="features-ico ico-02"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-03"></span>REGO01</td>
                            <td><span class="features-ico ico-04"></span>632 Views</td>
                          </tr>
                          <tr>
                            <td><span class="features-ico ico-05"></span>Sedan</td>
                            <td><span class="features-ico ico-06"></span>4cyl 1.5L</td>
                            <td><span class="features-ico ico-07"></span>REGO01</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>

                 </div>            
            
            </td>
          </tr>
          
        </table>

        
 		 / listing row 


    </div>
    -->
    
    
    <div class="car-listing">
    <?php
    echo $this->List->filter_form($modelName, $filters);
    $fields = array(
        'Car.id' => array('edit_link' => array('action' => 'edit', '%id%')),
        'Image' => array('title' => "Image", 'php_expression' => '".($row["CarImage"][0]["image"]!="")?"<img src=\"".get_resized_image_url($row["CarImage"][0]["image"],100,100,1)."\">":""."'),
        'Car.make' => array('title' => "Make", 'edit_link' => array('action' => 'edit', '%id%')),
        'Car.model' => array("title" => "Model", 'edit_link' => array('action' => 'edit', '%id%')),
//		'Car.year' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.badge' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
        'Car.series' => array('edit_link' => array('action' => 'edit', '%id%')),
        'Car.stock_number' => array('edit_link' => array('action' => 'edit', '%id%')),
        'Type' => array('title' => "Type", 'php_expression' => '".Car::$types[$row["Car"]["type_id"]]."'),
//		'Car.body' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.engine_capacity' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.cylinders' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.fuel_type' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.doors' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.rego' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.vin_number' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
        'Dealer.name' => array('title' => 'Dealer'),
        'price'=>array('php_expression' => '"."\$".$this->Number->format((float)$row["Car"]["selling_price"])."')
//		'Car.odometer' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.colour' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.trim' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.feature_code' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.selling_price' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.comments' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.dealer_location_id' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.compliance_date' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.redbook_code' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.created' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.modified' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.transmission' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.size' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.month' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.newPr' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.width' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.height' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.length' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.seats' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.turncir' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.kerb_weight' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.steering' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.front_tyres' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.rear_tyres' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.wheelbase' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.front_brake' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.rear_brake' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.towing_capacity_braked' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.towing_capacity_unbraked' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.drive_type' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.power' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.torque' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.boreStroke' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.compression_ratio' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.service_months' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.service_kms' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.warranty' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.warranty_kms' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.trim_colour' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.registration_expiry' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.build_date' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.price_excl_govt' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.ancap_rating' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.green_star_rating' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'Car.roadworthy_cert' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
    );
    $links = array(
        $this->Html->link(__('Edit', true), array('action' => 'edit', '%id%'), array('class' => 'Edit')),
        $this->Html->link(__('Delete', true), array('action' => 'delete', '%id%'), array('class' => 'Delete')), // , __('Are you sure?', true)),
    );

    $multi_select_actions = array('delete' => array('action' => Router::url(array('action' => 'delete')), 'confirm' => true));

    echo $this->List->adminIndexList($fields, $cars, $links, true, $multi_select_actions);
    ?>
</div>



</div>
