<div class="sectionsLayouts index">
    <h2><?php echo __('Section Layouts'); ?></h2>
    <?php //debug($sectionsLayouts);
	 echo $this->List->filter_form($modelName, $filters); 
	$fields = array(
		'SectionLayout.id' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
		'SectionLayout.name' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
//		'SectionLayout.content' => array('edit_link' => array('action' => 'edit' , '%id%')) , 
		'Image' => array('php_expression' => '" . "<img src=\"" . $row["SectionLayout"]["image_thumb1_full_path"]  . "\"/>" . "',),
	); 
            $links = array(
                $this->Html->link(__('Edit', true), array('action' => 'edit', '%id%'), array('class' => 'Edit')),
                $this->Html->link(__('Delete', true), array('action' => 'delete', '%id%'), array('class' => 'Delete') ), // , __('Are you sure?', true)),
            );

            $multi_select_actions = array('delete' => array('action' => Router::url(array('action' => 'delete')), 'confirm' => true));

            echo $this->List->adminIndexList($fields, $sectionsLayouts, $links,true, $multi_select_actions);


?>
</div>
